
#submitFile {
	margin-left: auto;
	padding-left: 5%;
	padding-right: 5%;
	/* float: right !important; */
}
.chart{
	margin-bottom: 10px;
}


#submitFile, #fileUpload{
	margin: 5px;
}

.showButton{
	float: right;
}


.chunk {
	margin: 0;
	border-style: dotted;
	border-color: whitesmoke;
	border-width: 1px;
}

.sectionData {
	padding: 1%;
}


.showButton{
	float: right;
}

.break {
	margin: 5px;
	padding: 5px;
	border-bottom: 2px solid whitesmoke;
}