#experience {
  margin-top: 30px;
  clear: both;
}

#resume{
	border-top: solid yellow 1px;
	border-bottom: solid yellow 1px;
}

#techBasedInterests {
  color: black;
  background-color: #cacaca;
  display: table-cell;
}

#techBaseInterests > ul {
  padding: 20px;
  margin-top: 30px;
  list-style: none;
}

#techBasedInterests > ul > li {
  /* background-color: rgb(28, 28, 28); */
  /* color: white; */
  list-style: none;
  float: left;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;

  min-width: 54px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: black;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;
}

#techBasedInterests > li > h4 {
  font-weight: bold;
  font-size: 17px;
}

/* Full Size CSS */
@media (min-width: 1115px) {

}

/* When quad grids get too compressed */
/* When trio grids get too compressed */
@media only screen and (max-width: 1114px) {

}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {
    border-left-width: 0px;
    border-right-width: 0px;

    margin-left: 0px;
    margin-right: 0px;
  }

  #introTitle {
    margin-left: auto;
  }

  #experience {
    width: 100%;
  }


}
