<div class="content">
  <h1 class="title">Professional Experience</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <h1 class="sectionTitle">About This Page</h1>
          <p>
            While a resume is an official document of my professional skillset,
            this is a more complete overview of my professional skillset
            including my publications, job/professional experience,
            accomplishments, and list of technical skills.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="resume" class="block">
          <h1 class="sectionTitle">Resume</h1>
          <p>
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1LoTxJISu6fhZ4XsQiLboE_5sfXo-UKfs/view?usp=sharing"
            >
              Here is an up to date resume </a
            >minus sensitive contact info I don't want floating around the
            internet.
          </p>

          <p>
            If you would like an official resume with all contact info and that
            is guaranteed up to date
            <a href="mailto:benbarcaskey@gmail.com"
              >please contact me via email.
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <app-publications id="publications"></app-publications>

  <app-experience id="experience"></app-experience>

  <app-skills id="skills"></app-skills>
</div>
