<div class="project">
	<h2 class="sectionTitle projectTitle">
	  Personal Website
	  <div class="links">
		<div class="link">
		  <a target="_blank" href="https://github.com/Slad3/Slad3.github.io">
			<img class="iconImage" src="../../../assets/images/github.png" />
		  </a>
		</div>
		<div class="link">
		  <a target="_blank" href="https://benbarcaskey.com/">
			<img class="iconImage" src="../../../assets/icons/linkIcon.png" />
		  </a>
		</div>
	  </div>
	</h2>
	<p class="date">Last Updated: 2020-11-9</p>
	<p class="typeofProject">Frontend</p>

	<div class="discription">
	  <p>
		My personal website/portfolio, hosted on GitHub pages. The frontend of
		my data science projects will most likely be hosted here.
	  </p>
	</div>

	<div class="container">
	  <div class="tags row">
		<li>TypeScript</li>
		<li>HTML/CSS</li>
		<li>Python</li>
	  </div>
	</div>
  </div>