.project {
  min-width: 275px;
  /* width: 100%; */

  height: 95%;
  max-height: 600px;

  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 15px;
  padding: 27px;
  border: 1px dashed whitesmoke;
  color: whitesmoke;
  /* background-color: rgba(28, 28, 28, 0.8); */
  background-color: rgba(28, 28, 28, 0.6);
}

.projectTitle {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 27px;
}

.links {
  float: right;
  height: 50px;
}

.link {
  float: right;
}

.link > a {
  height: 34px;
  width: 34px;

  padding: 4px;
  padding-top: 2px;

  background-color: whitesmoke;

  margin-bottom: 5px;
  margin-right: 5px;

  border-radius: 50%;
}

.link > a > img {
  height: 30px;
  width: 30px;
  align-self: center;
}

.typeofProject {
  font-size: 11pt;
}

.tags {
  list-style: none;
  height: auto;
}

.tags > li {
  float: left;
  display: block;

  color: whitesmoke;

  border: 1px dashed whitesmoke;

  border-radius: 8px;

  padding: 5px;
  margin: 5px;
}

.date {
  float: right;
  font-size: 10pt;
  margin-left: 2px;
}
