<div class="w3-content w3-display-container">

  <div class="mySlides block">
	<h1 class="mainTitle title"> Experience </h1>
    <div class="companyImage">
      <img src="{{ experience[0].image }}" />
      <p class="credit">{{ experience[0].imageCredit }}</p>
    </div>
    <div class="content">
      <h1 class="title">
        {{ experience[0].title }}
        <div class="experienceType">{{ experience[0].experience }}</div>
      </h1>
      <h3 class="place">
        {{ experience[0].place }}
        <div class="date">{{ experience[0].date }}</div>
      </h3>

      <div class="description">
        <p *ngFor="let para of experience[0].description">{{ para }}</p>
      </div>

      <ul class="expSkillsList">
		<h3>Skills Utilized</h3>
        <li *ngFor="let sk of experience[0].skills">{{ sk }}</li>
      </ul>
    </div>
  </div>

  <div *ngFor="let ex of exp">
    <div class="mySlides block">
	<h1 class="mainTitle title"> Experience </h1>
      <div class="companyImage">
        <img src="{{ ex.image }}" />
        <p class="credit">{{ ex.imageCredit }}</p>
      </div>
      <div class="content">
        <h1 class="title">
          {{ ex.title }}
          <div class="experienceType">{{ ex.experience }}</div>
        </h1>
        <h3 class="place">
          {{ ex.place }}
          <div class="date">{{ ex.date }}</div>
        </h3>

        <div class="description">
          <p *ngFor="let para of ex.description">{{ para }}</p>
        </div>

        <h3>Skills Utilized</h3>
        <ul class="expSkillsList">
          <li *ngFor="let sk of ex.skills">{{ sk }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    id="navagation"
    class="w3-center w3-display-bottommiddle"
    style="width: 100%;"
  >
    <div id="left" (click)="this.plusDivs(-1)">&#10094;</div>
    <div id="right" (click)="this.plusDivs(1)">&#10095;</div>
    <span class="badge demo w3-border" (click)="currentDiv(1)"></span>
    <span class="badge demo w3-border" (click)="currentDiv(2)"></span>
  </div>
</div>
