.block {
  /* color: whitesmoke; */
  color: RGBA(28, 28, 28, 1);
  border-radius: 20px;
  /* background-color: RGBA(28, 28, 28, 0.6); */
  background-color: RGBA(202, 202, 202, 0.8);
  padding: 2.5%;
  width: 95%;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: RGBA(28, 28, 28, 1);

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: RGBA(28, 28, 28, 1);

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;

  /* min-height: 475px; */
  min-height: 400px;
}

.mySlides {
  display: none;
}

.companyImage {
  float: left;
  width: 26%;
  display: inline-block;
  padding: 5%;
  padding-bottom: 0%;
}

.companyImage img {
  width: 100%;
}

.credit {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

.content {
  width: 64%;

  clear: both;
  display: inline-block;
}

.title {
  font-weight: bolder;
  font-size: 27px;
  float: top;
  font-family: sans-serif;
  clear: both;
}

.mainTitle {
  margin-left: 50px;
  float: top;
  margin-top: 0px;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.experienceType {
  float: right;
  font-size: 50%;
}

.place {
  font-size: 20px;
}

.date {
  float: right;
  font-size: 80%;
  clear: both;
}

.paragraph {
  text-indent: 4%;
}

.expSkillsList {
  text-align: center;
  white-space: normal;
  float: bottom;
}

.expSkillsList li {
  float: left;
  display: block;
  margin-right: 7px;
  font-size: 15px;
}

#navagation {
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  /* padding-bottom: 20px; */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

#left,
#right,
.badge {
  cursor: pointer;
  color: black;
}

#left {
  float: left !important;
  margin-left: 75%;
}

#right {
  float: right !important;
  margin-right: 5%;
}

.badge {
  height: 10px;
  width: 10px;
  padding: 5px;
  border-radius: 50%;

  background-color: #0f4c75;
  color: #fff;
  display: inline-block;

  text-align: center;
}

.w3-display-container {
  position: relative;
}

.w3-display-container:hover .w3-display-hover {
  display: block;
}
.w3-display-container:hover span.w3-display-hover {
  display: inline-block;
}

.w3-white {
  color: #0f4c75 !important;
  background-color: white !important;
}

.w3-center {
  text-align: center !important;
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {
	border-left-width: 0px;
	border-right-width: 0px;
  }

  #left {
    margin-left: 30%;
  }

  #right {
    margin-right: 30%;
  }

  .mainTitle {
    margin-top: 42px;
    text-align: center;
  }

  .companyImage {
    visibility: hidden;
    width: 0%;
    padding: 0%;
    margin: 0%;
  }

  .content {
    width: 100%;
  }
}
