

.title {
	text-align: left;
	font-weight: bold;
	font-size: 200%;
}


.chart{
	margin-bottom: 10px;
}



#graphs > h3 {
	margin-top: 20px;
}



.sectionData {
	padding: 1%;
}


.showButton{
	float: right;
}


#personSelect {
	float: right;
	height: 50px;
	margin-bottom: 40px;
}

.individualAnalysis {
	margin-top: 50px;
	padding-top: 50px;
	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 2px;
}

.messageHistogram {

}

.charts{
	/* margin-top: 30px; */
}



#songTitle{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}

#mainArtist{
	text-align: center;
}