

.title {
	text-align: left;
	font-weight: bold;
	font-size: 200%;
}


.chart{
	margin-bottom: 10px;
}



#graphs > h3 {
	margin-top: 20px;
}



.sectionData {
	padding: 1%;
}


.showButton{
	float: right;
}


.individualAnalysis {
	margin-top: 50px;
	padding-top: 50px;
	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 2px;
}


#songSelect {
	float: right;
	max-width: 90%;
}
 
.charts{
	/* margin-top: 30px; */
}


#songMetaData {
	padding-bottom: 20px;
	border-bottom: 1px dashed whitesmoke;
	margin-bottom: 20px;
}


#songTitle{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}

#mainArtist{
	text-align: center;
}