<div class="">
	<h1 class="mainTitle">The Office Quote Analysis</h1>
  </div>

<div id="uploadForm" class="container block">
	<div class="contain">
	  <form
		[formGroup]="form"
		(ngSubmit)="onSubmitUpload()"
		class="form-group row"
	  >
		<h3 for="query">Quote: </h3>
		<input
		  id="query"
		  class="form-control-file col-lg-3"
		  type="text"
		  name="query"
		  aria-describedby="repoHelp"
		  placeholder="That's What She Said"
		  (change)="onFileChange($event)"
		/>
		<h3 for="person">Who: </h3>
		<input
		  id="person"
		  class="form-control-file col-lg-3"
		  type="text"
		  name="person"
		  aria-describedby="repoHelp"
		  placeholder="any"
		  (change)="onFileChange($event)"
		/>
		<button type="submit" class="btn btn-primary" id="submit">
		  Submit
		</button>
	  </form>
	  <!-- <button
		*ngIf="this.dev"
		class="btn btn-secondary btn-"
		id="testSuccess"
		(click)="this.loadTestSuccess()"
	  >
		Example Success
	  </button> -->
  
	</div>
  </div>