<h1 class="mainTitle">The Office Quote Analysis</h1>

<div id="uploadForm" class="block">
  <div class="contain">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmitUpload()"
      class="form-group row"
    >
      <h3 class="textTitle" for="query">Quote:</h3>
      <input
        id="query"
        class="textBox form-control-file col-lg-5"
        type="text"
        name="query"
        aria-describedby="repoHelp"
        placeholder=""
        (change)="onFileChange($event)"
      />
      <br />
      <h3 class="textTitle" for="person">Who:</h3>
      <input
        id="person"
        class="textBox form-control-file col-lg-3"
        type="text"
        name="person"
        aria-describedby="repoHelp"
        placeholder=""
        (change)="onFileChange($event)"
      />
      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>

    <h4>Sample Queries</h4>
    <button
      *ngIf="this.dev"
      class="btn btn-secondary col-sm-4"
      id="testSuccess"
      (click)="this.loadThatsWhatSheSaid()"
    >
      Every "That's What She Said"
    </button>

    <button
      *ngIf="this.dev"
      class="btn btn-secondary col-sm-4"
      id="testSuccess"
      (click)="this.loadTuna()"
    >
      All times Andy says Tuna
    </button>

    <button
      *ngIf="this.dev"
      class="btn btn-secondary col-sm-4"
      id="testSuccess"
      (click)="this.loadIdiot()"
    >
      All times Dwight says Idiot
    </button>
  </div>
</div>

<div *ngIf="this.graphsToggle">
  <div #Summary id="summary" class="container-fluid block">
    <h2 class="title">
      Summary
    </h2>

    <h4 class="subtitle">Said a total:</h4>

    <h2>{{ this.data["Times"] }} times</h2>

    <h4 class="subtitle">Said the most by:</h4>

    <h2>
      "{{ this.data["Mode"]["Character"] }}"
      {{ this.data["Mode"]["CharacterTimes"] }} times
    </h2>

    <h4 class="subtitle">Said most in the episode:</h4>
    <h2>{{ this.data["Mode"]["Mode"] }}</h2>
  </div>

  <div #AllTimes class="container-fluid block">
    <h3 class="title">
      All Times in Series
      <!-- <button
        class="btn btn-secondary btn-xs col-xs-2 showButton"
        id="allTimesButton"
        data-toggle="collapse"
        href="#allTimes"
      >
        Collapse
      </button> -->
    </h3>

    <div class="table-responsiv">
      <table id="fullTable" class="table">
        <tr>
          <th class="season tableTitle">Episode</th>
          <th class="episodeTitle tableTitle">Episode Title</th>
          <th class="character tableTitle">Character</th>
          <th class="location tableTitle">Location % in Episode</th>
        </tr>
        <tr *ngFor="let query of this.data['Queries']">
          <td class="season">{{ query.season }}:{{ query.episode }}</td>
          <td class="episodeTitle">{{ query.title }}</td>
          <td class="character">{{ query.character }}</td>
          <td class="location">{{ query.location }}%</td>
        </tr>
      </table>
    </div>
  </div>
</div>
