<div
#MessageGraphs
*ngIf="this.messageGraphsToggle"
class="container-fluid block"
>
<h3 class="title sectionData">
  Messaging Analysis

</h3>
<button
class="btn btn-secondary btn-xs col-xs-2 showButton"
id="searchesButton"
data-toggle="collapse"
href="#messageGraphs"
>
Show Graphs
</button>
<br/> 
<div class="row" id="messageGraphs">
  <!-- <div class="col-md-12" id="personalResponseData">
	<div>
	  <h4>
		Your average response time is:
		{{ personalAverageResponseTime }}
	  </h4>
	</div>
  </div> -->

  <div class="subtitle col-md-12"><h3>Top Response Times</h3></div>

  <div class="col-md-6 chunk">
	<h4>You respond the fastest to:</h4>
	<ol>
	  <li *ngFor="let person of this.fastestResponseToThem">
		{{ person.person }}: {{ person.responseTime }}
	  </li>
	</ol>
  </div>

  <div class="col-md-6 chunk">
	<h4>The people that respond the fastest to you:</h4>
	<ol>
	  <li *ngFor="let person of this.fastestResponseToMe">
		{{ person.person }}: {{ person.responseTime }}
	  </li>
	</ol>
  </div>

  <div class="subtitle col-md-12"><h3>Top Double Messagers</h3></div>

  <div class="col-md-6 chunk">
	<h4>You double text the most to:</h4>
	<ol>
	  <li *ngFor="let person of this.doubleTextToThem">
		{{ person.person }}: {{ person.times }}
	  </li>
	</ol>
  </div>

  <div class="col-md-6 chunk">
	<h4>The people that double text the most to you:</h4>
	<ol>
	  <li *ngFor="let person of this.doubleTextToMe">
		{{ person.person }}: {{ person.times }}
	  </li>
	</ol>
  </div>

  <div #IndividualMessageAnalysis class="subtitle col-md-12 individualAnalysis">
	<h3 class="title" style="float: left">Message Analysis Per Person</h3>

	<select
	  class="select-option"
	  id="personSelect"
	  #mySelect
	  (change)="onPersonSelected(mySelect.value)"
	>
	  <option
		class="option"
		id=""
		*ngFor="let thread of this.messageThreads"
		[value]="thread.to"
	  >
		{{ thread.to }}
	  </option>
	</select>
  </div>
  <div class="col-md-6 chunk">
	<h3>General Stats</h3>
	<ul>
		<li>Number of Messages: {{ this.personData.numberOfMessages }}</li>
		<li>Number of Photos: {{ this.personData.numberOfPictures }}</li>
		<li>Number of Videos: {{ this.personData.numberOfVideos }}</li>
		<!-- <li>Number of Links: {{ this.personData.numberOfLinks }}</li> -->
	</ul>
  </div>
  <div class="col-md-6 chunk">
	<h3>Double Messaging</h3>
	<p>They double message: {{ this.personData.doubleMessage[0] }} times</p>
	<p>You double message: {{ this.personData.doubleMessage[1] }} times</p>
  </div>
  <div class="col-md-6 chunk">
	<h3>Response time</h3>
	<p>
	  Their Aveverage Response time:
	  {{ this.personData.averageResponse[0] }} seconds
	</p>
	<p>
	  Your Aveverage Response time: {{ this.personData.averageResponse[1] }} seconds
	</p>
  </div>
  <div class="col-md-6 chunk">

  </div>

	<div class="col-md-12 chart">
	  <highcharts-chart
		class="messageHistogram"
		[Highcharts]="messageHistogram"
		[options]="messageHistogramOptions"
		style="width: 100%; display: block"
	  ></highcharts-chart>
	</div>

	<div class="col-md-12 chart">
	  <highcharts-chart
		class="messageWeekDayHistogram"
		[Highcharts]="messageWeekDayHistogram"
		[options]="messageWeekDayHistogramOptions"
		style="width: 100%; display: block"
	  ></highcharts-chart>
	</div>

  <div class="col-md-12 chart" id="doubleText"></div>

  <div class="col-md-6 chart" id="mostSelfInitiations"></div>

  <div class="col-md-6 chart" id="leastSelfInitiations"></div>
</div>
</div>