.mainTitle{

	text-align: center;
	/* margin-left: 20%; */
	font-weight: bold;
}


.title {
	text-align: left;
	font-weight: bold;
	font-size: 200%;
}


.chart{
	margin-bottom: 10px;
}


#graphs > h3 {
	margin-top: 20px;
}

.chunk {
	margin: 0;
	border-style: dotted;
	border-color: whitesmoke;
	border-width: 1px;
}

.sectionData {
	padding: 1%;
}


.showButton{
	float: right;
}


#personSelect {
	float: right;
	height: 50px;
	margin-bottom: 40px;
}

.individualAnalysis {
	margin-top: 50px;
	padding-top: 50px;
	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 2px;
}

.messageHistogram {

}

.charts{
	/* margin-top: 30px; */
}

@media only screen and (max-width: 768px) {

	#searchesButton{
		visibility: hidden;
		height: 0px;
		width: 0px;
	}

	.sectionData{
		font-size: 150%;
	}
}