#home {
  color: whitesmoke;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}


#intro {
  margin-bottom: 20px;
  /* display: inline; */
  transition: width 2s;
}

#introText {


  /* margin-left: 0%; */

  opacity: 0;
  animation: fadeIn 2s ease 0.3s forwards;
}

#profilePhoto {
  align-self: center;
  max-width: 100%;

  opacity: 0;
  border-radius: 5%;
  margin-top: 30px;
  animation: fadeIn 2s ease .5s forwards;
}

#typeracer {
  margin-top: 25px;
  align-self: center;
  /* max-width: 30%; */
  margin-left: 9%;
  /* width: 186px; */
  float: left;
}

#typeracer > img {
  size: 150%;
}

.introPara {
  text-indent: initial;
  padding-left: 2%;
  line-height: 1.5;
  font-size: large;
}



#FAQ {
	position: relative;
  /* background-color: rgba(245, 245, 245, 0.5); */
  /* color: black; */
}

#FAQ > .sectionTitle {
	margin-bottom: 20px;
} 

#FAQ > ul {
  list-style: none;
}

#FAQ > #FAQList > li > .accordion {
  background-color: #0f4c75;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  float: left;
}

#FAQ > #FAQList > li > .accordion:after {
  content: "\002B";
  color: whitesmoke;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

#FAQ > #FAQList > li > .active:after {
  content: "\2212";
  float: left;
}

#FAQ > #FAQList > li > .answer {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px;
  text-indent: 3%;

  background-color: RGB(50, 50, 50);

  color: whitesmoke;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #0f4c75;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #cacaca;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: RGB(28, 28, 28);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Full Size CSS */
@media (min-width: 1115px) {
  #skills > #languages > .list > .language > ul {
    margin-top: 25px;
  }

  #techBasedInterests > ul > li {
    width: 19%;
    min-height: 250px;
  }

  #skills > #languages > .list > .language {
    width: 31%;
    min-width: 54px;
  }
}

/* When quad grids get too compressed */
/* When trio grids get too compressed */
@media only screen and (max-width: 1114px) {
  /* #profilePhoto {
    visibility: hidden;
    height: 0px;
    width: 0px;
  } */

  #techBasedInterests {
    width: 100%;
    min-height: 10px;
  }

  #techBasedInterests > ul > li {
    width: 39%;
    min-height: 10px;
  }

  #skills > #languages > .list > .language {
    align-self: center;

    margin-left: 15%;
    width: 70%;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: whitesmoke;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-top-style: dashed;
    min-height: 100%;
  }

  #skills > #languages > .list > .language > ul {
    float: left;
	margin-top: 5%;
	margin-left: 10%;
    width: -70%;
    word-wrap: normal;
  }


  #skills > #languages > .list > .language > .languageTitle > h4 {
    float: left;
    position: absolute;
  }

  #skills > #languages > .list > .language > .languageTitle > .icon {
    margin-top: 60px;
    margin-left: 5%;
    max-width: 70px;
    max-height: 50px;
    float: left;
  }

  #skills > #languages > .list > .language > h3 {
    margin-bottom: 5px;
    float: left;
  }

  #skills > #languages > .list > .language > ol > li > h4 {
    align-items: center;
    color: red;
  }
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {
    border-left-width: 0px;
    border-right-width: 0px;

    margin-left: 0px;
    margin-right: 0px;
  }

  .sectionTitle{
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
  }




  #experience {
    width: 100%;
  }

  #techBasedInterests > ul > li {
    width: 80%;
    min-height: 150px;
  }

  #skills {
	padding-bottom: 5%;
  }

  #skills > h1{
	margin-bottom: 0px;
}

  #skills > #languages {
    margin-top: 0px;
  }

  #skills > #languages > .list > .language {
    align-self: center;
	width: 95%;
	position: relative;
	/* min-height: 500px; */
	overflow: hidden;
	margin-left: 0;


	border-top-style: solid;
    border-top-width: 1px;
    border-top-color: whitesmoke;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-top-style: dashed;
  }
  #skills > #languages > .list > .language > ul {
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 5%;
	/* padding-left: 30px; */
	float: none;
	min-height: 100%;
  }

  #skills #languages > .list > .language > .languageTitle > .icon {
    float: right;
    max-width: 60px;
    max-height: 60px;
    margin-top: 5%;
    margin-right: 10%;
  }


  #skills > #softSkills {
    clear: both;
    margin-left: 10%;
    margin-top: 100px; 
  }

  #skills > .accordion {
    background-color: #0f4c75;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* margin-bottom: 15px; */
    margin-left: 5%;
  }

  #skills > .active,
  .accordion:hover {
    background-color: #cacaca;
    color: black;
  }

  #skills.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
  }

  #skills > .active:after {
    content: "\2212";
  }

  #skills > .panel {
    padding: 0 18px;
    background-color: RGB(28, 28, 28);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
  }

  #FAQ {
    padding: 2.5%;
    margin-left: 0px;
    width: 100%;
  }

  #FAQ > ul {
    padding-left: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
