#home {
  color: whitesmoke;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  color: black;
  margin-top: 30px;
  border-radius: 20px;

  border-left-style: solid;
  border-left-width: 2px;
  /*border-left-color: #0f4c75;*/
  border-left-color: #f2f2f2;

  border-right-style: solid;
  border-right-width: 2px;
  /*border-right-color: #0f4c75;*/
  border-right-color: #f2f2f2;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;

  padding: 2.5%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  font-family: sans-serif;
}

#intro {
  margin-bottom: 20px;
  /* display: inline; */
}

#introText {
  /* background-color: #cacaca; */
  background-color: rgba(28, 28, 28, 0.6);

  color: #cacaca;
  /* float: left;
  align-self: center; */
  margin-left: 0%;
}

#profilePhoto {
  align-self: center;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  margin-top: 30px;
}

#typeracer {
  margin-top: 25px;
  align-self: center;
  /* max-width: 30%; */
  margin-left: 9%;
  /* width: 186px; */
  float: left;
}

#typeracer > img {
  size: 150%;
}

.introPara {
  text-indent: initial;
  width: 90%;
  padding-left: 5%;
  line-height: 1.5;
  font-size: large;
}

#experience {
  margin-top: 30px;
  clear: both;
}

#techBasedInterests {
  color: black;
  background-color: #cacaca;
  display: table-cell;
}

#techBaseInterests > ul {
  padding: 20px;
  margin-top: 30px;
  list-style: none;
}

#techBasedInterests > ul > li {
  /* background-color: rgb(28, 28, 28); */
  /* color: white; */
  list-style: none;
  float: left;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;

  min-width: 54px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: black;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;
}

#techBasedInterests > li > h4 {
  font-weight: bold;
  font-size: 17px;
}

#skills {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  display: inline-block;
  background-color: RGB(28, 28, 28, 0.6);
}

#skills > .title {
  margin-bottom: 0px;
  float: top;
}

#skills > #languages > h3 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom: #cacaca;
}

#skills > #languages > .list > .language {
  list-style: none;

  float: left;

  color: whitesmoke;
  text-align: center;

  padding-left: 15px;
  padding-right: 15px;

  margin: 1%;

  min-height: 180px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #cacaca;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;
}

#skills #languages > .list > .language > .languageTitle > h4 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin-top: 5px;
  padding-top: 10px;
  /* font-size: 120%; */
  font-size: 25px;
}

#skills #languages > .list > .language > .languageTitle > .icon {
  margin-left: 10%;
  max-width: 70px;
  max-height: 50px;
  float: left;
}

#skills > #languages > .list > .language > ul {
  list-style-position: inside;
  text-align: left;
}

#skills > #languages > .list > .language > li {
  text-align: left;
  float: left;
  font-size: 120%;
  list-style: circle;
  padding-bottom: 7px;
}

#skills > #otherCSSkillsTitle {
  border-top: whitesmoke;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 280px;
  padding-top: 10px;
  margin-left: 4%;
  font-size: 120%;
}

#skills > .panel > #otherCSSkills {
  list-style: none;
  white-space: normal;
}

#skills > .panel > #otherCSSkills > li {
  float: left;
  display: block;
  margin-right: 3%;
}

#skills > .skillList > li {
  text-align: left;
  font-size: 150%;
}

#skills > #softSkills {
  margin-left: 10%;
}

#skills > .accordion {
  background-color: #0f4c75;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  float: left;
}

#skills > .accordion:after {
  content: "\002B";
  color: whitesmoke;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

#skills > .active:after {
  content: "\2212";
  float: left;
}

#skills > .panel {
  padding: 0 18px;
  background-color: RGB(28, 28, 28);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #0f4c75;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #cacaca;

  /* border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #cacaca; */
}

#FAQ {
  background-color: RGBA(202, 202, 202, 0.8);
}

#FAQ > ul {
  list-style: none;
}

#FAQ > #FAQList > li > .accordion {
  background-color: #0f4c75;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  float: left;
}

#FAQ > #FAQList > li > .accordion:after {
  content: "\002B";
  color: whitesmoke;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

#FAQ > #FAQList > li > .active:after {
  content: "\2212";
  float: left;
}

#FAQ > #FAQList > li > .answer {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px;
  text-indent: 3%;

  background-color: RGB(50, 50, 50);

  color: whitesmoke;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #0f4c75;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #cacaca;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: RGB(28, 28, 28);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Full Size CSS */
@media (min-width: 1115px) {
  .block {
    padding: 2.5%;
  }


  #skills > #languages > .list > .language > ul {
	  margin-top: 25px;
  }

  #techBasedInterests > ul > li {
    width: 19%;
    min-height: 250px;
  }

  #skills > #languages > .list > .language {
    width: 31%;
    min-width: 54px;
  }
}

/* When quad grids get too compressed */
/* When trio grids get too compressed */
@media only screen and (max-width: 1114px) {
  /* #profilePhoto {
    visibility: hidden;
    height: 0px;
    width: 0px;
  } */

  #techBasedInterests {
    width: 100%;
    min-height: 10px;
  }

  #techBasedInterests > ul > li {
    width: 39%;
    min-height: 10px;
  }

  #skills > #languages > .list > .language {
    align-self: center;

    margin-left: 8%;
    margin-right: 8%;
    width: 70%;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: whitesmoke;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-top-style: dashed;
    min-height: 140px;
  }

  #skills > #languages > .list > .language > .languageTitle > h4 {
    float: left;
    position: absolute;
  }

  #skills > #languages > .list > .language > .languageTitle > .icon {
    margin-top: 60px;
    margin-left: 5%;
    max-width: 70px;
    max-height: 50px;
    float: left;
  }

  #skills > #languages > .list > .language > ul {
    float: left;
    margin-top: 5%;
    width: -70%;
    word-wrap: normal;
  }

  #skills > #languages > .list > .language > h3 {
    margin-bottom: 5px;
    float: left;
  }

  #skills > #languages > .list > .language > ol > li > h4 {
    align-items: center;
    color: red;
  }
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {

    border-left-width: 0px;
    border-right-width: 0px;

    margin-left: 0px;
    margin-right: 0px;
  }

  #experience {
    width: 100%;
  }

  .title {
    text-align: center;
    margin-left: 0px;
    font-size: 26px;
    /* color: red; */
  }

  #techBasedInterests > ul > li {
    width: 80%;
    min-height: 150px;
  }

  #skills {
    padding-bottom: 5%;
  }

  #skills > h1 {
    float: left;
    margin-left: 10%;
  }

  #skills > #languages {
    margin-top: 50px;
  }

  #skills > #languages > h3 {

  }

  #skills > #languages > .list > .language {
    align-self: center;
    width: 75%;
    min-height: 210px;
  }
  #skills > #languages > .list > .language > ul{
	  
	margin: 40px;
	margin-top: 50px;
	margin-left: 0px;
	padding-left: 30px;
	position: relative; 
  }

  #skills > #languages > .list > #python{
	min-height: 190px;
  }

  #skills > #languages > .list > #java{
	min-height: 200px;
  }

  #skills #languages > .list > .language > .languageTitle > .icon {
    float: right;
    max-width: 60px;
    max-height: 60px;
    margin-top: 5%;
    margin-right: 10%;
  }

  #skills #languages > .list > .language > ul {
    margin-top: 50px;
    float: left;
    position: absolute;
    word-wrap: normal;
    width: 40%;
  }

  #skills > #softSkills {
    clear: both;
    margin-left: 10%;
    margin-top: 100px;
  }

  #skills > .accordion {
    background-color: #0f4c75;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* margin-bottom: 15px; */
    margin-left: 5%;
  }

  #skills > .active,
  .accordion:hover {
    background-color: #cacaca;
    color: black;
  }

  #skills.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
  }

  #skills > .active:after {
    content: "\2212";
  }

  #skills > .panel {
    padding: 0 18px;
    background-color: RGB(28, 28, 28);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
  }

  #FAQ {
    padding: 2.5%;
    margin-left: 0px;
    width: 95%;
  }

  #FAQ > ul {
    padding-left: 10px;
  }
}
