
<div id="home">
  <div id="intro" class="container-fluid fade-in">
    <div class="row">
      <div class="block col-md-9 col-sm-12 " id="introText">
        <h1 id="introTitle" class="sectionTitle">About This Site and About Me</h1>

        <p class="introPara">
          The main goal of this project is to provide public visuals for some of
          the side projects and data science that I like to do. Some of my datascience projects are open source, especially the ones that require users to upload personal data.
        </p>

        <p class="introPara">
          Everyone needs have a personal pet project where you can always positively outlet your emotions toward, and this is mine. Also it seems like every developer has a personal website now days so
          what the heck.
        </p>

      </div>
      <div class="d-md-block d-none col-md-3 col-sm-0 center-image">
		<img
			class= ""
          id="profilePhoto"
          src="../../../assets/images/profileCroppedDelaneyEdit.jpg"
          alt="What did I ever do to make you treat me so disrespectfully"
        />
      </div>
    </div>
  </div>

  <app-experience #experience id="experience"></app-experience>
  <br />

  <!-- <div id="techBasedInterests" class="block">
	<h1 class="title">Technology Based Interests</h1>
	<ul>
	  <li class="">
		<h4>Data Science / Analysis</h4>
		<p>
		  Numbers by themselves are boring. However, numbers that mean something
		  can impact the way that we think and act upon certain situations.
		</p>
	  </li>
	  <li class="">
		<h4>Backend / API Development</h4>
		<p>
		  Numbers by themselves are boring. However numbers that mean something
		  can impact the way that we think and act upon certain situations.
		</p>
	  </li>
	  <li class="">
		<h4>Computer Hardware / Small Scale Electronics</h4>
		<p>
		  If one is to study the great mystery of computers, one must study all
		  it's aspects. Although I'm a software guy. I definitley got sexier
		  when girls started to like Henry Cavill for building a PC.
		</p>
	  </li>
	  <li class="">
		<h4>System Design / Simulation</h4>
		<p>
		  With the power of computers, we have the power to visualize and design
		  things.
		</p>
	  </li>
	</ul>
  </div> -->

  <div #Skills id="skills" class="block">
    <h1 class="sectionTitle">Skills</h1>
    <div class="" id="languages">
      <ol class="list">
        <li class="language" id="python">
          <div class="languageTitle" id="python">
            <img class="icon" src="../../assets/icons/pythonIcon.png" />
            <h4>Python</h4>
          </div>
          <ul>
			<li>Flask Microframework</li>
			<li>NumPy</li>
            <li>Pandas</li>
            <li>OpenCV</li>
            <li>MatPlotLib</li>
            <li>Scikit-Learn</li>
          </ul>
        </li>
        <li class="language" id="java">
          <div class="languageTitle">
            <img class="icon" src="../../assets/icons/javaIcon.png" />
            <h4>Java</h4>
          </div>
          <ul>
            <li>DOM & Stax XML Parsing</li>
			<li>Jooby Microframework</li>
			<li>Maven & Gradle</li> 
            <li>Android Development</li>
			<li>JSON Parsing</li>
			<li>Java FX</li>
          </ul>
        </li>
        <li class="language " id="linux">
          <div class="languageTitle">
            <img class="icon" src="../../assets/icons/linuxIcon.png" />
            <h4>Linux</h4>
          </div>
          <ul>
			<li>Debian and Fedora</li>
            <li>GUI and terminal/SSH</li>
            <li>Apache & Nginx http Server</li>
            <li>Bash Scripting</li>
            <li>Systemctl Services</li>
            <li>Raspberry Pi</li>
          </ul>
        </li>
      </ol>
    </div>

    <button class="accordion">Other Skills</button>
    <div class="panel">
      <h3 id="otherCSSkillsTitle">Technical Skills</h3>
      <ul class="list" id="otherCSSkills">
        <li>HTML/CSS/Javascript</li>
        <li>Audio Production/Manipulation</li>
        <li>C/C++</li>
        <li>Git</li>
        <li>SQL</li>
        <li>Amazon AWS (EC2, S3 Bucket, Rekognition)</li>
        <li>Swift</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Word</li>
        <li>Excel</li>
        <li>Powerpoint</li>
      </ul>

      <br />
      <br />

      <div id="softSkills">
        <h3>Soft Skills</h3>
        <ul class="list">
          <li>Public Speaking</li>
          <li>Problem Solving</li>
          <li>Team Management</li>
        </ul>

        <h3>Accomplishments</h3>
        <ul class="list">
          <li>Troop 449 Eagle Scout since 2018</li>
          <li>4th in at CCMW 2018 Programming Competition</li>
        </ul>

        <h3>Other Skills</h3>
        <ul class="list">
          <li>Eagle Scout</li>
          <li>4th in Programming Competition</li>
        </ul>
      </div>
    </div>
  </div>
 
  <div id="FAQ" class="block">
    <h1 class="sectionTitle">FAQ</h1>
    <ul id="FAQList">
      <li>
        <button class="accordion">How tall are you?</button>
        <div class="answer">
          <p>
            Technically 6'4.5", but 6 4 just rolls off the tongue better. Also,
            don't lie about your height; Anyone can literally take a tape
            measure and get an exact objective numerical value of how tall you
            are.
          </p>
        </div>
      </li>
      <li>
        <button class="accordion">
          Favorite language/libraries to work with?
        </button>
        <div class="answer">
          <p>
            Even though I tend to favor low level control at the cost of
            convienience, my favorite language to work in is Python, Java coming
            in at a close second. Other than the 'def' keyword, everything just
            makes sense. The library is also support is the gold standard in my
            experience, data science support with python is the best, and most
            complaints about the extremely slow raw perfomence can be overcome
            by knowledge of libraries like NumPy and TensorFlow.
          </p>
          <p>
            Although for some things I tend to perfer Java for the times when I
            want over all general speed, easy packaging, and XML parsing.
          </p>
        </div>
      </li>
      <li>
        <button class="accordion">Main Desktop Specs</button>
        <div class="answer">
          <p>My current desktop specs:</p>
          <ul>
            <li class="spec">CPU: Ryzen R5 2600 3.9GHz</li>
            <li class="spec">
              RAM: 32GB (4 x 8GB) G.Skill DDR4-3200 (Almost died getting that
              last 16GB)
            </li>
            <li class="spec">
              Motherboard: Asus TUF X470-PLUS AM4 (Used motherboards don't have
              IO shields though)
            </li>
            <li class="spec">
              GPU: R9 380 4GB Asus Strix (It's like the legs of Mr Incredible
              holding up Mr Incredible)
            </li>
            <li class="spec">
              Storage: 2 SSDs, one per OS. Plus a 1TB 7200rpm and a 3TB 5400rpm
              of spinning rust
            </li>
            <li class="spec">Case: Corsair Spec-01</li>
            <li class="spec">PSU: Corsair CXM 650W 80+ Bronze</li>
            <li class="spec">
              Monitor: Acer XV272U 27" 2560x1440 144hz IPS Freesync (My Baby)
            </li>
            <li class="spec">
              Mouse: Kingston HyperX Pulsefire Surge (I broke my
            </li>
            <li class="spec">
              Keyboard: Some old dusty Dell PS2 keyboard I found in the basement
              4 years ago
            </li>
          </ul>
        </div>
	  </li>
	  <!-- <li>
        <button class="accordion">Are Macs good for development?</button>
        <div class="answer">
          <p>
			Unless you like thermal throttling, a locked down operating system, 
          </p>
        </div>
      </li> -->
    </ul>
  </div>

  <!-- <div id="siteTechnical" class="block" >
	<h1 class="title">Technical About this site</h1>

  </div> -->
</div>
