<!-- <h1>This is where I will provide a list of done or in progress progress with description, a bunch of useful images, and most likely a github link.  <br/> Currently in development.</h1> -->

<!-- <h2 class="floatingTitle">Projects</h2> -->

<div class="block">
  <h1 class="sectionTitle">
    Personal Projects
    <a *ngIf="this.full === false" [routerLink]="'/projects'">
      See all projects
    </a>
  </h1>
  <div class="container">
    <div *ngIf="loaded == false">
      <h4>Loading...</h4>
    </div>

    <div *ngIf="loaded" class="row" id="projectList">
      <project
        *ngFor="let project of projects"
        [data]="project"
        class="col-md-6"
      ></project>
    </div>
  </div>

  <h4>
    Checkout more of my projects on
    <a href="https://github.com/Slad3/" target="_blank">GitHub</a>
  </h4>
</div>
