

<div id="projectContent" class="content">
	<h1 class="mainTitle">Personal Projects</h1>
	<div class="block">
	  <h1 class="sectionTitle">
		Personal Projects
		<a *ngIf="this.full === false" [routerLink]="'/projects'">
		  See all projects
		</a>
	  </h1>
	  <div class="container-fluid">
		<div *ngIf="loaded == false">
		  <h4>Loading...</h4>
		</div> 
  
		<div *ngIf="loaded" class="row" id="projectList">
		  <project-card
			*ngFor="let project of projects"
			[data]="project"
			class="col-md-6"
		  ></project-card>
		</div>
	  </div>
	  <h4>
		Checkout more of my projects on
		<a href="https://github.com/Slad3/" target="_blank">GitHub</a>
	  </h4>
	</div>
  </div>
   