
.block{
	/* background-color: rgba(255, 255, 255, .05); */
}

.project {
	width: calc(50% - 25px);
  
	margin: 10px;
  
	border-radius: 15px;
	padding: 25px;
	border: 3px dashed whitesmoke;
	background-color: rgba(28, 28, 28, 0.8);
	height: auto;
  }
  

  .sectionTitle > a {
	font-size: 20px;
	float: right;
	text-align: right;
  }
  
  

  @media only screen and (max-width: 768px) {
	.project{
		margin-left: 0px;
		margin-right: 0px;
	}
  }

  @media only screen and (max-width: 500px) {
	#projectList{
		margin-top: 30px;
	}
  }
    