<app-datascience></app-datascience>
<ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner>

<!-- <div id="left">
  <ul>
    <li>
      <a href="./InstagramAnalysis#Messages">Messages</a>
    </li>
    <li>
      <a href="./InstagramAnalysis#AccountHistory">AccountHistory</a>
    </li>
  </ul>
</div> -->

<div id="content">
  <h1 class="mainTitle">Instagram Data Analysis</h1>

  <div class="container-fluid">
    <div class="row">
      <div id="intro" class="block col-md-6">
        <h2 class="sectionTitle">
          About/How to use
          <button
            class="btn btn-xs col-xs-2 mobileButton"
            id="aboutButton"
            data-toggle="collapse"
            href="#introSection"
          >
            V
          </button>
        </h2>
        <div id="introSection">
          <p>
            By US law, social media sites are required to allow the user to
            download their data that the social media site stores for them. This
            tool allows you to view what they collect on you, but to see some
            extra analytics on things like conversations.
          </p>
        </div>
      </div>
      <div id="uploadForm" class="block col-md-6">
        <div class="container-fluid">
          <form
            [formGroup]="form"
            (ngSubmit)="onSubmitUpload()"
            class="form-group row"
          >
            <div *ngIf="fileNeeded">
              Please select a file before submitting.
            </div>
            <h3 class="" for="fileUpload">Input File:</h3>
            <input
              id="fileUpload"
              class="form-control-file col-lg-5"
              type="file"
              name="file"
              aria-describedby="repoHelp"
              placeholder="Upload Zip"
              (change)="onFileChange($event)"
            />
            <button
              type="submit"
              class="btn btn-primary col-lg-3"
              id="submitFile"
            >
              Submit File
            </button>
          </form>
          <button
            *ngIf="this.dev"
            class="btn btn-secondary btn-sm"
            id="testSuccess"
            (click)="this.loadTestSuccess()"
          >
            Example Success
          </button>

          <div class="progress" *ngIf="this.progressBarToggle">
            <div
              #progressbar
              id="progressbar"
              class="progress-bar"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width]="this.progress + '%'"
            ></div>
            Uploading
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="instructions" class="block" *ngIf="this.instructionsToggle">
    <h2>
      Instructions for Downloading Your Data
      <button
        class="btn btn-xs col-xs-2 showButton"
        id=""
        data-toggle="collapse"
        href="#instructionsSection"
      >
        V
      </button>
    </h2>

    <div>
      <a href="https://www.instagram.com/download/request/" target="_blank">
        <h4 style="font-weight: bold; text-align: center">
          Request your Instagram data at here.
        </h4>
      </a>
      <br />
      <p>
        From here you can request your data to be downloaded. Once your request
        has been sent, Facebook will send you an email to the address you use to
        log into Facebook with, with a direct link for you to download your
        data. It is strongly recommended you download and upload this on a
        desktop/laptop platform rather than a mobile device, though it is
        possible on a phone.
      </p>
      <br />
      <p>
        Downloaded Instagram data .zip files should be small enough to just
        upload once you download them. However, it is always recommended you
        remove pictures and videos from the zip file to speed up upload time,
        especially with slow internet.
      </p>

      <h4 style="font-weight: bold; color: red">
        DISCLAIMER: No data is saved after session ends, nor sent to any
        external sources.<br />TLDU: I don't want your data, nor do I want to
        send your data to someone. That's creepy.
      </h4>
    </div>
  </div>

  <div #Graphs id="graphs" *ngIf="this.graphsToggle">
    <div *ngIf="this.messageGraphsToggle">
      <app-messages [data]="this.data['MessageData']"></app-messages>
    </div>

    <div
      #AccountHistory
      *ngIf="this.accountHistoryToggle"
      class="container-fluid block"
    >
      <h3 class="title sectionData">
        Account History
        <button
          class="btn btn-secondary btn-xs col-xs-2 showButton"
          id="accountButton"
          data-toggle="collapse"
          href="#AccountHistory"
        >
          Show Graphs
        </button>
      </h3>
      <div class="row" id="AccountHistory">
        <div class="col-md-12 chunk">
          <h4>Account History:</h4>

          <table id="accountTable">
            <tr>
              <th class="ipAddress">Ip Address</th>
              <th class="language">Lang</th>
              <th class="timestamp">Time</th>
              <th class="Client">Client</th>
              <th class="Device ID">Device ID</th>
            </tr>
            <tr *ngFor="let login of this.accountHistory">
              <td class="ipAddress">{{ login.ipAddress }}</td>
              <td class="language">{{ login.language }}</td>
              <td class="timestamp">{{ login.timestamp }}</td>
              <td class="client">{{ login.client }}</td>
              <td class="deviceID">{{ login.deviceId }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.emptyResultToggle">
    <h2 class="sectionTitle">Could not find any valid files to analyze</h2>
  </div>

  <div>
    <project-card [name]="'SocialMediaUserDataAnalysis'"> </project-card>
  </div>
</div>
