
.title {
	text-align: left;
	font-weight: bold;
	font-size: 200%;
	padding-left: 10px;
}


.chart{
	margin-bottom: 10px;
}


#graphs > h3 {
	margin-top: 20px;
}


#accountTable {
	overflow: hidden;

	table-layout: fixed;

	text-overflow: ellipsis;

}

#accountTable > td {
	padding: 10px;

	border-top-style: dotted;
	border-top-color: whitesmoke;
	border-top-width: 1px;
}

.ipAddress {
	max-width: 150px;
	overflow: hidden;
}


#content{
	/* width: calc(100% - 60px); */
	/* margin-left: 50px; */
	/* margin-right: auto; */
}

#left{
	float: left;
	position: fixed;
}

#left > ul {
	list-style: none;
}

#left > ul > li{
	margin-top: 50px;

	font-size: 90%;

	left: 0;
	width: 40px;
	transform: rotate(90deg);
}
