<header>
  <div class="text-block">
    <h1 class="name">benbarcaskey.com</h1>
    <p id="subText-block">"License to love, insurance to hold" - Sade</p>
  </div>
</header>

<nav id="navbar">

  <li><a class="left" [routerLink]="'/'">Home</a></li>
  <li><a class="left" [routerLink]="'/professionalExperience'">Experience</a></li>
  <li><a class="left" [routerLink]="'/publications'">Publications</a></li>
  <li><a class="left item" [routerLink]="'/projects'">Projects</a></li>
  <li>
    <a class="left item" [routerLink]="'/datascience'">Data Science Projects</a>
  </li>
  <li>
    <a class="icon item" target="_blank" href="mailto:benbarcaskey@gmail.com"
      ><img class="iconImage" src="./assets/images/email.png"
    /></a>
  </li> 
  <li>
    <a class="icon item" target="_blank" href="https://www.linkedin.com/in/ben-barcaskey/"
      ><img class="iconImage"  src="./assets/images/linkedin.png"
    /></a>
  </li>
  <li>
    <a class="icon item"target="_blank" href="https://github.com/Slad3"
      ><img class="iconImage" src="./assets/images/github.png"
    /></a>
  </li>
</nav>

<!-- <div class="socialHomeGroup">
  <div class="socialHomeItem">
    <a href="https://github.com/Slad3">
      <img src="./assets/images/github.png" class="" />
    </a>
  </div>
  <div class="socialHomeItem">
    <a href="https://www.linkedin.com/benbarcaskey">
      <img src="./assets/images/linkedin.png" class="" />
    </a>
  </div> 
</div> -->

<div #body id="body">
  <!-- <div id="quote" class="block">
    <h1>{{ quote }}</h1>
  </div> -->
  <div id="router">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="footerLinks">
      <div class="contactList container=fluid">
        <h4>Contact Me</h4>
        <div class="row">

		  <a class="col-sm-6"target="_blank" href="mailto:benbarcaskey@gmail.com">Email</a>
		  
          <a class="col-sm-6" href="https://www.linkedin.com/in/ben-barcaskey/">LinkedIn</a>
        </div>

      </div>
    </div>
  </footer>
</div>
