#navbar {
  overflow: hidden;
  background-color: #0f4c75;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* top: 0px; */
  width: 100%;
  /* position: fixed; */
  font-weight: bold;
  max-height: 48px;
  opacity: 85%;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bodyAfter {
  margin-top: 48px;
}

nav > li > a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.left {
  float: left;
}

.resume {
	float: right;
}

li a:hover {
  background: #a8a8a8;
  color: black;
  opacity: 117.64%;
}

#icon {
  float: right;
  padding: 6px;
  margin: 0px;
}

.iconImage {
  height: 34px;
  width: 34px;
  position: center;
}

header {
  margin-top: 0px;
  position: relative;

  background-image: url("../assets/images/mainphotoCompressedMedium.jpg");
  background-position: 45% 50% top;
  /* background-position-y: center; */
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 300px;
  height: 50vh;

  opacity: 0;

  animation: fadeIn 1.5s forwards;
}

header > .homeSouth {
  color: whitesmoke;
  text-align: center;
  position: absolute;
  left: calc(50% - 54px);
  top: calc(100% - 120px);
  display: block;
}

.text-block {
  position: absolute;
  resize: both;
  /* top: 10%;
		left: 45%; */
  top: 40%;
  left: 55%;
  padding: 1%;
  color: rgba(0, 0, 0, 0.86);
  color: rgba(250, 250, 250, 0.86);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  transform: translateX(-50%) translateY(-50%);

  opacity: 0;
  animation: fadeIn 1s ease 0.3s forwards;
}

.text-block .name {
  font-size: 250%;
  padding: 4px;
  margin: 5px;
  color: black;
  background-color: whitesmoke;
  border-radius: 15px;
}

.text-block > #subText-block {
  text-align: center;
}

.text-block #extension {
  color: black;
  /* padding: 10px;
			margin: 1px; */
  border-radius: 10%;
  background-color: whitesmoke;
}

#mainphoto {
  width: 100%;
  overflow: hidden;
  position: center;
  background-position: center top;

  padding: 0px;
  margin: 0px;
  margin-top: 48px;
}

#photoTitle {
  list-style: none;
}

#photoTitle li {
  float: top;
  display: inline;
}

.socialHomeGroup {
  position: fixed;
  top: 60vh;
  right: 0px;
  float: right;
  z-index: 99;
}

.socialHomeGroup > .socialHomeItem {
  background-color: whitesmoke;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.socialHomeGroup > .socialHomeItem > a > img {
  height: 30px;
}

.socialAdjust {
  position: 48px;
}

#quote {
  width: 96%;
  text-align: right;
  padding: 20px;
}

#quote > h1 {
  margin-top: 0px;
  font-size: 20px;
  width: -60%;
}

#body {
  color: whitesmoke;
  position: relative;
  height: 100%;

}

#router {
  padding-top: 40px;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  min-height: 50vh;
  max-width: 1080px;
}

footer {
  background-color: rgba(28, 28, 28, 0.9);
  width: 100%;
  padding: 10px;
  text-align: center;

  position: relative;

  max-height: 50vh;
  min-height: 200px;
  margin-bottom: 0px;
}

.contactList {
	color: whitesmoke;
	list-style: none;
	list-style-position: outside;
	
}

.contactList > li {
	align-self: left;
}

.contactList > li > a {
	color: whitesmoke;
}

.contactList > li > a:hover {
	color: rgb(102, 102, 255); 
	background-color: transparent;
}

  /* Full Size CSS */
  @media (min-width: 1720px) {
	header {
	  background-size: fit;
	}
  
	header > .text-block {
	  font-size: 200%;
	  left: 50%;
	}
  }
  
/* Full Size CSS */
@media only screen and (max-width: 768px) {
  #body {
    width: 100%;
    padding: 0%;
  }
  
  #router {
	padding-top: 40px;
	padding-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	min-height: 50vh;
	max-width: 1080px;
  }
  
  footer {
	background-color: rgba(28, 28, 28, 0.9);
	width: 100%;
	padding: 10px;
	text-align: center;
  
	position: relative;
  
	max-height: 50vh;
	min-height: 200px;
	margin-bottom: 0px;
  }
  


  #quote {
    width: 90%;
    align-self: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
