<header>
  <div class="text-block">
    <h1 class="name">benbarcaskey.com</h1>
    <p id="subText-block">"License to love, insurance to hold" - Sade</p>
  </div>
</header>

<nav id="navbar">
  <li><a class="left" [routerLink]="'/'">Home</a></li>
  <!-- <li><a class="left" [routerLink]="'/blog'">Blog</a></li> -->
  <!-- <li><a class="left" [routerLink]="'/projects'">Projects</a></li> -->
  <li>
    <a class="left" [routerLink]="'/datascience'">Data Science</a>
  </li>
  <!-- <li><a class="left" [routerLink]="'/reference'">Reference</a></li> -->



  
  <li>
    <a id="icon" href="mailto:benbarcaskey@gmail.com"
      ><img class="iconImage" src="./assets/images/email.png"
    /></a>
  </li>
  <li>
    <a id="icon" href="https://www.linkedin.com/in/ben-barcaskey/"
      ><img class="iconImage" src="./assets/images/linkedin.png"
    /></a>
  </li>
  <li>
    <a id="icon" href="https://github.com/Slad3"
      ><img class="iconImage" src="./assets/images/github.png"
    /></a>
  </li>
</nav>

<!-- <div class="socialHomeGroup">
  <div class="socialHomeItem">
    <a href="https://github.com/Slad3">
      <img src="./assets/images/github.png" class="" />
    </a>
  </div>
  <div class="socialHomeItem">
    <a href="https://www.linkedin.com/benbarcaskey">
      <img src="./assets/images/linkedin.png" class="" />
    </a>
  </div>
</div> -->

<div #body id="body">
  <!-- <div id="quote" class="block">
    <h1>{{ quote }}</h1>
  </div> -->
  <div id="router">
    <router-outlet></router-outlet>
  </div>
  <footer></footer>
</div>
