.block {
  color: whitesmoke;
  margin-top: 30px;
  border-radius: 20px;
  padding: 3%;

  border-left-style: solid;
  border-left-width: 2px;
  /*border-left-color: #0f4c75;*/
  border-left-color: #f2f2f2;

  border-right-style: solid;
  border-right-width: 2px;
  /*border-right-color: #0f4c75;*/
  border-right-color: #f2f2f2;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;

  background-color: rgba(28, 28, 28, 0.3);
}

#navbar {
  overflow: hidden;
  background-color: #0f4c75;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* top: 0px; */
  width: 100%;
  /* position: fixed; */
  font-weight: bold;
  max-height: 48px;
  opacity: 85%;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bodyAfter {
  margin-top: 48px;
}

nav > li > a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.left {
  float: left;
}

li a:hover {
  background: #a8a8a8;
  color: black;
  opacity: 117.64%;
}

#icon {
  float: right;
  padding: 6px;
  margin: 0px;
}

.iconImage {
  height: 34px;
  width: 34px;
  position: center;
}

header {
  margin-top: 0px;
  position: relative;

  background-image: url("../assets/images/mainphotoCompressed.jpg");
  background-position: 45% 50% top;
  /* background-position-y: center; */
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 300px;
}

.text-block {
  position: absolute;
  resize: both;
  /* top: 10%;
		left: 45%; */
  top: 40%;
  left: 55%;
  padding: 1%;
  color: rgba(0, 0, 0, 0.86);
  color: rgba(250, 250, 250, 0.86);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  transform: translateX(-50%) translateY(-50%);
}

.text-block .name {
  font-size: 250%;
  padding: 4px;
  margin: 5px;
  color: black;
  background-color: whitesmoke;
  border-radius: 15px;
}

.text-block > #subText-block {
  text-align: center;
}

.text-block #extension {
  color: black;
  /* padding: 10px;
			margin: 1px; */
  border-radius: 10%;
  background-color: whitesmoke;
}

#mainphoto {
  width: 100%;
  overflow: hidden;
  position: center;
  background-position: center top;

  padding: 0px;
  margin: 0px;
  margin-top: 48px;
}

#photoTitle {
  list-style: none;
}

#photoTitle li {
  float: top;
  display: inline;
}

.socialHomeGroup {
  position: fixed;
  float: right;
  right: 0;
}

.socialHomeGroup > .socialHomeItem {
  background-color: whitesmoke;
  height: 30px;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.socialHomeGroup > .socialHomeItem > a > img {
  height: 30px;
}

.socialAdjust {
  position: 48px;
}

#quote {
  margin-top: 0px;
  font-size: 20px;
  width: -60%;
  direction: rtl;
  text-align: right;
}

#body {
  color: whitesmoke;

  /* width: 85%; */
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  max-width: 1080px;
}

footer {
  background-color: rgba(28, 28, 28, 0.9);
  color: whitesmoke;
  /* height: 200px; */
  width: 100%;
  text-align: center;
  position: fixed;
}

/* Full Size CSS */
@media (min-width: 1720px) {
  header {
    height: 50vh;

    background-size: fit;
  }

  header > .text-block {
    font-size: 200%;
    left: 50%;
  }
}

/* Full Size CSS */
@media (max-width: 1720px) {
  header {
    height: 30vh;
  }
}

/* Full Size CSS */
@media (max-width: 768px) {
  #body {
    width: 97%;
    padding: 0%;
  }

  #navbar {
    width: 100%;
  }

  header {
    height: 70vh;
    background-position: 30% center;
  }

  header > .text-block {
    left: 50%;
    top: 50%;
    max-width: 100vw;
    font-size: 3.75vw;
  }
  .socialHomeGroup > .socialHomeItem {
    visibility: hidden;
  }
}
