
<div class="container">
  <img id= mainphoto src="assets/images/mainphoto.jpg" alt="Me in the photo">
  <div class="text-block">
      <h1 id="name">BEN BARCASKEY</h1>
      <p id="subText-block">"License to love, insurance to hold"</p>
    <div id="textBackground"></div>
  </div>
</div>


<div (scroll)="onScroll($event)" >
  <ul id="navbar">
    <div #spacer></div>
    <nav>     <!--    stickyThing [boundary]="boundary" [spacer]="spacer" marginTop="0">-->
      <li><a class="left" routerLink="/">Home</a></li>
      <li><a class="left" routerLink="blog">Blog</a></li>
      <li><a class="left" routerLink="projects">Projects</a></li>
      <li><a class="left" routerLink="datascience">Data Science</a></li>
      <li><a class="left" routerLink="reference">Reference</a></li>
      <li><a id ="icon" href="https://github.com/Slad3"><img class="iconImage" src="/assets/images/github.png"></a></li>
      <li><a id ="icon" href="https://www.linkedin.com/in/ben-barcaskey/"><img class="iconImage" src="/assets/images/linkedin.png"></a></li>
    </nav>
  </ul>
</div>




<div id="body">
  <h1 id="quote">Quote of Your Session: "Life is parallel to hell but I must maintain."</h1>
  <router-outlet id="router"></router-outlet>
</div>

