#navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  top: 0px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #0f4c75;
}

li {
  float: left;
}

li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background: #a8a8a8;
  color: black;
}


#body {
  color: whitesmoke;
  max-width: 1050px;
  min-width: 500px;
  width: 75%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  alignment: center;

}
