.block {
	color: black;
	padding: 20px;
	margin-top: 30px;
  
	border-left-style: solid;
	border-left-width: 2px;
	/*border-left-color: #0f4c75;*/
	border-left-color: #f2f2f2;
  
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #0f4c75;
  
	border-radius: 2%;
  }

#post{
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
	color: black;
  background-color: #cacaca;
}

.Image{
  border-radius: 50%;
}

#title{
	font-size: 35px;
	font-weight: bold;
	text-align: left;
  }

.subTitle{


}

#list{
  margin-bottom: 0px;
}



#item{
  font-size: 14px;
  text-align: left;
  text-indent: 2em;
  /*color:white;*/
  color:black;
  padding: 7px;

}
