.publication {
  border-left: dashed whitesmoke 1px;
  border-right: dashed whitesmoke 1px;
  border-top: solid whitesmoke 1px;
  border-bottom: solid whitesmoke 1px;
  border-radius: 10px;

  width: 100%;
  height: 95%;
  padding: 15px;
  margin: 10px;
}

.sectionTitle > a {
  font-size: 20px;
  float: right;
  text-align: right;
}

.pubTitle {
  /* font-weight: bold; */
  font-style: italic;
}

.conference {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.date {
  margin-top: 10px;
  text-align: right;
  /* float: top; */
}

.note {
  /* font-size: 80%; */
  padding: 4px;
}

@media only screen and (max-width: 768px) {
  #publicationList {
    margin-top: 30px;
  }
}
