<div class="block">
  <h1 class="sectionTitle">
    Publications / Presentations

    <a *ngIf="this.full === false" [routerLink]="'/experience'">
      See full publication list
    </a>
  </h1>
  <div class="container">
    <div class="row" id="publicationList">
      <div class="publication col-md-6" *ngFor="let pub of publications">
        <h4 class="pubTitle">"{{ pub.title }}"</h4>

        <div class="container">
          <div class="row">
            <p class="col-sm-6 conference">{{ pub.conference }}</p>
            <p class="col-sm-4 date">{{ pub.date }}</p>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row notes">
            <p *ngFor="let note of pub.notes" class="col-xs-1 note">
              {{ note }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
