
#publcationList{
	list-style: none;
}


.publication{
	border-left-style: dashed;
	border-left-color: whitesmoke;
	border-left-width: 1px;
	border-right-style: dashed;
	border-right-color: whitesmoke;
	border-right-width: 1px;

	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 1px;

	border-radius: 10px;

	width: 100%;
	/* margin: 5px; */
	margin-top: 5px;
	padding-top: 10px;

}

.pubTitle{
	font-weight: bold;
	font-style: italic;
}

.date{
	/* text-align: right; */
	/* float: top; */
	font-size: 80%;
}


.note{
	font-size: 80%;
	padding: 4px;
}