<app-datascience></app-datascience>
<ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner>

<div class="">
  <h1 class="mainTitle">Facebook Data Analysis</h1>
</div>
<div id="uploadForm" class="container block">
  <div class="contain">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmitUpload()"
      class="form-group row"
    >
      <div *ngIf="fileNeeded">Please select a file before submitting.</div>
      <input
        id="fileUpload"
        class="form-control-file col-lg-6"
        type="file"
        name="file"
        aria-describedby="repoHelp"
        placeholder="Upload Zip"
        (change)="onFileChange($event)"
      />
      <button type="submit" class="btn btn-primary col-lg-5" id="submitFile">
        Submit File
      </button>
    </form>
    <button
      *ngIf="this.dev"
      class="btn btn-secondary btn-sm"
      id="testSuccess"
      (click)="this.loadTestSuccess()"
    >
	  Example Success
	  
    </button>

    <div class="progress" *ngIf="this.progressBarToggle">
      <div
        #progressbar
        id="progressbar"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
        [style.width]="this.progress + '%'"
      ></div>
      Uploading
    </div>
  </div>
</div>

<div id="instructions" class="block" *ngIf="this.instructionsToggle">
  <h2>Instructions for Downloading Your Data</h2>

  <a href="https://www.facebook.com/dyi/?referrer=ayi" target="_blank">
    <h4 style="font-weight: bold; text-align: center">
      Access your Facebook data at here.
    </h4>
  </a>

  <h4 style="text-align: center">
    Required: Make sure your download data format is in JSON, not HTML as shown
    in the image below.
  </h4>
  <a href="https://www.facebook.com/dyi/?referrer=ayi" target="_blank">
    <img
      id="downloadExamplePhoto"
      src="../../../../assets/facebookDownloadForm.png"
    />
  </a>

  <p>
    It is recommended that you download only the data you want analyzed or
    downloaded in order to keep the file size small so uploading doesn't take
    forever.
  </p>

  <p>
    Its also recommended that you set the media quality to low to lower the file
    size.
  </p>

  <p>
    From here you can request your data to be downloaded. Once your request has
    been sent, Facebook will send you an email to the address you use to log
    into Facebook with, with a direct link for you to download your data. It is
    strongly recommended you download and upload this on a desktop/laptop
    platform rather than a mobile device, though it is possible on a phone.
  </p>

  <h4 style="font-weight: bold; color: red">
    DISCLAIMER: No data is saved after session ends, nor sent to any external
    sources.<br />TLDU: I don't want your data, nor do I want to send your data
    to someone. That's creepy.
  </h4>
</div>

<div id="graphs" *ngIf="this.graphsToggle">
  <!-- <h3 class="title">Graphs</h3> -->

  <div
    #MessageGraphs
    *ngIf="this.messageGraphsToggle"
    class="container-fluid block"
  >
    <h3 class="title sectionData">
      Messages
      <button
        class="btn btn-secondary btn-xs col-xs-2 showButton"
        id="searchesButton"
        data-toggle="collapse"
        href="#messageGraphs"
      >
        Show Graphs
      </button>
    </h3>
    <div class="row" id="messageGraphs">
      <!-- <div class="col-md-12" id="personalResponseData">
        <div>
          <h4>
            Your average response time is:
            {{ personalAverageResponseTime }}
          </h4>
        </div>
	  </div> -->

	  <div class="subtitle col-md-12"><h3>Response Time</h3></div>

      <div class="col-md-6 chunk">
        <h4>You respond the fastest to:</h4>
        <ol>
          <li *ngFor="let person of this.fastestResponseToThem">
            {{ person.person }}: {{ person.responseTime }}
          </li>
        </ol>
      </div>

      <div class="col-md-6 chunk">
        <h4>The people that respond the fastest to you:</h4>
        <ol>
          <li *ngFor="let person of this.fastestResponseToMe">
            {{ person.person }}: {{ person.responseTime }}
          </li>
        </ol>
      </div>

      <div class="subtitle col-md-12"><h3>Double texting</h3></div>

      <div class="col-md-6 chunk">
        <h4>You double text the most to:</h4>
        <ol>
          <li *ngFor="let person of this.doubleTextToThem">
            {{ person.person }}: {{ person.times }}
          </li>
        </ol>
      </div>

      <div class="col-md-6 chunk">
        <h4>The people that double text the most to you:</h4>
        <ol>
          <li *ngFor="let person of this.doubleTextToMe">
            {{ person.person }}: {{ person.times }}
          </li>
        </ol>
      </div>

      <div class="col-md-12 chart" id="doubleText"></div>

      <div class="col-md-6 chart" id="mostSelfInitiations"></div>

      <div class="col-md-6 chart" id="leastSelfInitiations"></div>
    </div>
  </div>

  <div
    #SearchGraphs
    *ngIf="this.searchHistoryGraphsToggle"
    class="container-fluid block"
  >
    <h3 class="title sectionData">
      Search History
      <button
        class="btn btn-secondary btn-xs col-xs-2 showButton"
        id="searchesButton"
        data-toggle="collapse"
        href="#searchGraphs"
      >
        Show Graphs
      </button>
    </h3>
    <div class="row" id="searchGraphs">
      <div class="col-md-6 chart">
        <highcharts-chart
          class="chart"
          [Highcharts]="chart1"
          [options]="chart1Options"
          style="width: 100%; display: block"
        ></highcharts-chart>
      </div>
      <div class="col-md-6 chart">
        <highcharts-chart
          class="chart2"
          [Highcharts]="chart2"
          [options]="chart2Options"
          style="width: 100%; display: block"
        ></highcharts-chart>
      </div>
      <div class="col-md-12 chart">
        <highcharts-chart
          class="chart3"
          [Highcharts]="chart3"
          [options]="chart3Options"
          style="width: 100%; display: block"
        ></highcharts-chart>
      </div>
      <div class="col-md-12 chart">
        <highcharts-chart
          class="chart4"
          [Highcharts]="chart4"
          [options]="chart4Options"
          style="width: 100%; display: block"
        ></highcharts-chart>
      </div>
    </div>
  </div>
</div>
