<div id="skills" class="block">
  <h1 class="sectionTitle">Skills</h1>
  <div class="">
    <ol class="list" id="languages">
      <li class="languageMain" id="python">
        <div class="languageTitle" id="python">
          <img class="icon" src="../../assets/icons/pythonIcon.png" />
          <h4>Python</h4>
        </div>
        <ul>
          <li>Flask Microframework</li>
          <li>Pandas</li>
          <li>NumPy</li>
          <li>OpenCV</li>
          <li>MatPlotLib</li>
          <li>Scikit-Learn</li>
        </ul>
      </li>
      <li class="languageMain" id="java">
        <div class="languageTitle">
          <img class="icon" src="../../assets/icons/javaIcon.png" />
          <h4>Java</h4>
        </div>
        <ul>
          <li>DOM & Stax XML Parsing</li>
          <li>Jooby Microframework</li>
          <li>Android Development</li>
          <li>Maven & Gradle</li>
          <li>JSON/CSV Parsing</li>
          <li>Java FX</li>
        </ul>
      </li>
      <li class="languageMain" id="linux">
        <div class="languageTitle">
          <img class="icon" src="../../assets/icons/linuxIcon.png" />
          <h4>Linux</h4>
        </div>
        <ul>
          <li>Debian and Fedora</li>
          <li>GUI and terminal/SSH</li>
          <li>Apache & Nginx http Server</li>
          <li>Bash Scripting</li>
          <li>Systemctl Services</li>
          <li>Raspberry Pi</li>
        </ul>
      </li>
    </ol>
  </div>

  <button class="accordion">Other Skills</button>
  <div class="panel">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="languageSkills" class="skillsColumn">
            <h3>Languages</h3>
            <p>(In order of experience)</p>
            <ol class="list" id="otherCSSkills">
              <li>Python</li>
              <li>Java / Kotlin</li>
              <li>TypeScript</li>
              <li>HTML/CSS</li>
              <li>Javascript</li>
              <li>C/C++</li>
              <li>SQL</li>
              <li>MongoDB</li>
              <li>Swift</li>
            </ol>
          </div>
        </div>
        <div class="col-md-6">
          <div id="libraries" class="skillsColumn">
            <h3>Libraries / Frameworks</h3>
            <br />
            <ul class="list" id="otherCSSkills">
              <li>Angular</li>
              <li>Flask</li>
              <li>Numpy</li>
              <li>Pandas</li>
              <li>MatPlotLib</li>
              <li>Keras</li>
              <li>Jooby</li>
              <li>Meteor</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div id="cloudCompute" class="skillsColumn">
            <h3>Cloud Computation</h3>
            <ul class="list" id="otherCSSkills">
              <li>Digital Ocean</li>
              <li>
                AWS
                <ul>
                  <li>EC2</li>
                  <li>S3</li>
                  <li>Bucket</li>
                  <li>Rekognition</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div id="Other" class="skillsColumn">
            <h3>Other Technical Skills</h3>
            <ul class="list" id="otherCSSkills">
              <li>Audio Production/Manipulation</li>
              <li>Word</li>
              <li>Excel</li>
              <li>Powerpoint</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Soft Skills</h3>
          <ul class="list">
            <li>Public Speaking</li>
            <li>Problem Solving</li>
            <li>Team Management</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Accomplishments</h3>
          <ul class="list">
            <li>Troop 449 Eagle Scout since 2018</li>
            <li>4th in at CCMW 2018 Programming Competition</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
