
<div id = "post" class="block">
  <ul style="list-style-type:none" id="list">
    <li id="title">
      {{post.title}}
	</li>
	<li id="altTitle">
		{{post.altTitle}}
	</li>
	<li id="date">
		<div [innerHTML]="this.post.date.content"></div>
	</li>
	
    <a *ngFor="let cont of this.post.content">
      <li id="item">
        <div [innerHTML]="cont.content"></div>
	  </li>
	  
	</a>

	<a *ngFor="let tag of this.post.tags">
		<li id="tag">
		  <div [innerHTML]="tag"></div>
		</li>
		
	  </a>
  </ul>
</div>
