a {
  font-style: italic;
}

a:hover {
  color: rgb(255, 255, 0);
}

html{
	scroll-behavior: smooth;
} 

body {
  padding: 0px;
  margin: 0px;
  background-color: #2a2a2a;
  font-family: Arial;
  /*background-color: #cacaca;*/
  /* background-color: rgba(52, 52, 52, 0.64);*/
  background-image: url("assets/images/prism.png");
  /* background-image: url("assets/images/tealGraphVisual.jpg"); */
  background-attachment: fixed;
  overflow-y: scroll;

  max-width: calc(100vw - 5px);
}

.content{
	align-content: center;
	font-family: Arial, Helvetica, sans-serif;
  
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	min-height: 80vh;
	max-width: 1080px;
}

.block {
  color: whitesmoke;
  margin-top: 30px;
  border-radius: 20px;
  padding: 25px;

  border-left: solid #f2f2f2 2px;
  border-right: solid #f2f2f2 2px;
  border-bottom: solid #0f4c75 4px;

  background-color: rgba(28, 28, 28, 0.6);
}

.title {
  text-align: center;
  margin-left: 0px;
  font-size: 32px;
}

.mainTitle {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.sectionTitle {
  margin-left: 10px;
  margin-top: 0px;

  font-size: 32px;
  font-weight: bolder;

  margin-bottom: 5px;
  text-align: left;
}

.floatingTitle {
  margin-left: 10px;
  margin-top: 0px;

  padding: 10px;

  background-image: linear-gradient(
    90deg,
    rgba(22, 22, 22, 0.6) 0%,
    rgba(22, 22, 22, 0.4) 22.39%,
    rgba(22, 22, 22, 0.3) 42.6%,
    rgba(0, 0, 0, 0.1) 79.19%,
    rgba(161, 48, 48, 0) 104.86%
  );

  font-size: 32px;
  font-weight: bold;

  max-width: 50%;

  margin-bottom: 5px;
  text-align: left;

  border-bottom-left-radius: 20px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: whitesmoke;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: whitesmoke;
}

.btn-primary {
  background-color: #0f4c75;
  border-color: #0f4c75;
  color: white;
}

.btn-primary:hover {
  background-color: #0f4c75;
  border-color: white;
  color: white;
}

.showButton,
.mobileButton {
  color: whitesmoke;
  float: right;
}

.showButton:hover,
.mobileButton:hover {
  color: gray;
}

@media only screen and (min-width: 769px) {
  .mobile {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .mobileButton {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .desktop {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .block {
    border-left-width: 0px;
    border-right-width: 0px;

    margin-left: 0px;
    margin-right: 0px;
  }
}
