#home {
  color: whitesmoke;
  align-content: center;
}

.block{
  color: black;
  padding: 20px;
  margin-top: 30px;

  border-left-style: solid;
  border-left-width: 2px;
  /*border-left-color: #0f4c75;*/
  border-left-color: #f2f2f2;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;

  border-radius: 2%;
}

.title{
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  font-family: "Arial Rounded MT Bold";
}

#about{
  margin-bottom: 20px;
  display: inline;
}

#about>ul{
  display: inline-block;
  list-style: none;
}

#aboutTitle{
  text-align: center;
}

#aboutText{
  /*width: 75%;*/
  width: 70%;

  background-color: #cacaca;
  float: left;
}

#profilePhoto{
  margin-top: 30px;
  max-width: 20%;
  margin-left: 5%;
  float: left;
  border-radius: 5%;
  
}

#typeracer{
  margin-top: 25px;
  align-self: center;
  /* max-width: 30%; */
  margin-left: 9%;
  float: left;
}

.aboutIntro{
  text-indent: initial;
  width: 90%;
  padding-left: 5%;
  line-height: 1.5;
  font-size: large;

}

#techBasedInterests{
  color: black;
  background-color: #cacaca;
  /*padding: 20px;*/
  list-style: none;
  padding: 20px;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
  display: inline-block;

}

#techBasedInterests>ul>li{
  /* background-color: rgb(28, 28, 28); */
  /* color: white; */
  list-style: none;
  float: left;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;

  width: 19%;
  min-width: 54px;

  min-height: 200px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: black;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;

}

#techBasedInterests>li>h4{
  font-weight: bold;
  font-size: 17px;
}

#skills{
  color: whitesmoke;
  list-style: none;
  padding: 10px;
  display: inline-block;
  width: 98%;
  background-color: RGB(28, 28, 28);
}

#skills>#languages>h3{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom: #cacaca;
}

#skills>#languages>.list>.language{
  list-style: none;
  float: left;

  color: whitesmoke;
  text-align: center;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;

  width: 27%;
  min-width: 54px;

  min-height: 200px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #cacaca;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;
}

#skills #languages>.list>.language>h4{
  margin-top: 5px;
  font-size: 120%;
}

#skills>#languages>.list>.language>li{
  text-align: left;
  font-size: 120%;
  list-style: circle;
  padding-bottom: 4px;
}

#skills>#otherCSSkillsTitle{
  border-top: whitesmoke;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 280px;
  padding-top: 10px;
  margin-left: 4%;
  font-size: 120%;
}

#skills>.panel>#otherCSSkills{
  list-style: none;
  white-space: normal;
}

#skills>.panel>#otherCSSkills>li{
  float: left;
  display: block;
  margin-right: 3%;
}

#skills>.skillList>h4{
  font-weight: bold;
  font-size: 30px;
  margin-left: 10%;
  color: white;
  /*text-align: center;*/
  font-family: "Arial Rounded MT Bold", sans-serif;
}

#skills .skillList>li{
  text-align: left;
  font-size: 150%;
}

#skills>#softSkills{
  margin-left: 10%;
}

#skills>.accordion {
  background-color: #0f4c75;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

#skills>.active, .accordion:hover {
  background-color: #cacaca;
  color: black;
}

#skills.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#skills>.active:after {
  content: "\2212";
}

#skills>.panel {
  padding: 0 18px;
  background-color: RGB(28, 28, 28);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #0f4c75;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #cacaca;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #cacaca;
}


#experience{
  background-color: #cacaca;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #f2f2f2;

  color: black;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;
}

#experience>.list{
  /*margin-left: 10px;*/
  width: 90%;
}

#FAQ{
  background-color: #cacaca;
}

