<div id="home">
  <div id="intro">
    <ul>
      <li class="block" id="introText">
        <h1 id="introTitle" class="title">About This Site and About Me</h1>

        <p class="introPara">
          The main goal of this project is to provide public visuals for some of
          the side projects and data science that I like to do.
        </p>

        <p class="introPara">
          Also it seems like every developer has a personal website now days so
          what the heck.
        </p>

        <p class="introPara">
          To give you a technical run down of who I am, I’m a major in Computer
          Science minoring in Math, concentrating in statistics. I plan to
          graduate in May of 2022, however no matter how much you plan, you can
          only weather the chaos of the future, not control it. AKA if I'm
          offered a full time job before graduation, I'll take it into
          consideration.
        </p>
      </li>
      <li class="rightSideIntro">
        <img
          id="profilePhoto"
          src="assets/images/profileCropped.jpg"
          alt="What did I ever do to make you treat me so disrespectfully"
        />
      </li>
    </ul>
  </div>

  <app-experience id="experience"></app-experience>
  <br />

  <!-- <div id="techBasedInterests" class="block">
    <h1 class="title">Technology Based Interests</h1>
    <ul>
      <li class="">
        <h4>Data Science / Analysis</h4>
        <p>
          Numbers by themselves are boring. However, numbers that mean something
          can impact the way that we think and act upon certain situations.
        </p>
      </li>
      <li class="">
        <h4>Backend / API Development</h4>
        <p>
          Numbers by themselves are boring. However numbers that mean something
          can impact the way that we think and act upon certain situations.
        </p>
      </li>
      <li class="">
        <h4>Computer Hardware / Small Scale Electronics</h4>
        <p>
          If one is to study the great mystery of computers, one must study all
          it's aspects. Although I'm a software guy. I definitley got sexier
          when girls started to like Henry Cavill for building a PC.
        </p>
      </li>
      <li class="">
        <h4>System Design / Simulation</h4>
        <p>
          With the power of computers, we have the power to visualize and design
          things.
        </p>
      </li>
    </ul>
  </div> -->

  <div id="skills" class="block">
    <h1 class="title">Skills</h1>
    <div class="" id="languages">
      <h3>Top Skills</h3>
      <ol class="list">
        <li class="language">
          <h4>Python</h4>
          <ul>
            <li>Pandas</li>
            <li>NumPy</li>
            <li>OpenCV</li>
            <li>MatPlotLib</li>
            <li>Flask Microframework</li>
            <li>Scikit-Learn</li>
          </ul>
        </li>
        <li class="language">
          <h4>Java</h4>
          <ul>
            <li>DOM/Stax/Sax XML Parsing</li>
            <li>JSON Parsing</li>
            <li>Jooby Microframework</li>
            <li>Android Development</li>
            <li>Maven & Gradle Management</li>
          </ul>
        </li>
        <li class="language">
          <h4>Linux</h4>
          <ul>
            <li>Debian and Arch</li>
            <li>Apache & Nginx http Server</li>
            <li>Bash Scripting</li>
            <li>Background Service Management</li>
            <li>GUI and terminal</li>
          </ul>
        </li>
      </ol>
    </div>

    <button class="accordion">Other Skills</button>
    <div class="panel">
      <h3 id="otherCSSkillsTitle">Technical Skills</h3>
      <ul class="list" id="otherCSSkills">
        <li>HTML/CSS/Javascript</li>
        <li>Audio Production/Manipulation</li>
        <li>C/C++</li>
        <li>Git</li>
        <li>SQL</li>
        <li>Amazon AWS (EC2, S3 Bucket, Rekognition)</li>
        <li>Swift</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Word</li>
        <li>Excel</li>
        <li>Powerpoint</li>
      </ul>

      <br />
      <br />

      <div id="softSkills">
        <h3>Soft Skills</h3>
        <ul class="list">
          <li>Public Speaking</li>
          <li>Problem Solving</li>
          <li>Team Management</li>
        </ul>

        <h3>Accomplishments</h3>
        <ul class="list">
          <li>Troop 449 Eagle Scout since 2018</li>
          <li>4th in at CCMW 2018 Programming Competition</li>
        </ul>

        <h3>Other Skills</h3>
        <ul class="list">
          <li>Eagle Scout</li>
          <li>4th in Programming Competition</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="FAQ" class="block">
    <h1 class="title">FAQ</h1>
    <ul id="FAQList">
      <li>
        <button class="accordion">How tall are you?</button>
        <div class="answer">
          <p>
            Technically 6'4.5", but 6 4 just rolls off the tongue better. Also,
            don't lie about your height; Anyone can literally take a tape
            measure and get an exact objective numerical value of how tall you
            are.
          </p>
        </div>
      </li>
      <li>
        <button class="accordion">What Software do you use?</button>
        <div class="answer">
          <p>
            I prefer to do development in Linux, preferably Pop-OS with a KDE
            environment. Though I do most of my computer tasks on Windows. For
            programming, I typically like to gravitate towards a jetbrain's ide
            when I can, however I'm growing used to VSCode.
          </p>
        </div>
      </li>
      <li>
        <button class="accordion">Desktop Specs</button>
        <div class="answer">
          <p>My current desktop specs:</p>
          <ul>
            <li class="spec">CPU: Ryzen R5 2600 3.9GHz</li>
            <li class="spec">
              RAM: 32GB (4 x 8GB) G.Skill DDR4-3200 (Almost died getting that
              last 16GB)
            </li>
            <li class="spec">
              Motherboard: Asus TUF X470-PLUS AM4 (Used motherboards don't have
              IO shields though)
            </li>
            <li class="spec">
              GPU: R9 380 4GB Asus Strix (It's like the legs of Mr Incredible
              holding up Mr Incredible)
            </li>
            <li class="spec">
              Storage: 2 SSDs, one per OS. Plus a 1TB 7200rpm and a 3TB 5400rpm
              of spinning rust blocks
            </li>
            <li class="spec">Case: Corsair Spec-01</li>
            <li class="spec">PSU: Corsair CXM 650W 80+ Bronze</li>
            <li class="spec">
              Monitor: Acer XV272U 27" 2560x1440 144hz IPS Freesync (My Baby)
            </li>
            <li class="spec">
              Mouse: Kingston HyperX Pulsefire Surge (I broke my
            </li>
            <li class="spec">
              Keyboard: Some old dusty Dell PS2 keyboard I found in the basement
              4 years ago
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
