<div id="home">



  <div id="about">
    <h1>About the Man of the Hour</h1>
      <p class="aboutIntro"> Yes, that is me in the photo.</p>

  </div>



  <div id="aboutList">
        <ul id="techBasedInterests">
          <h2 class="listTitle"> Technology Based Interests </h2>
          <li>
            <h4>Data Analysis</h4>
            <p>Numbers by themselves are boring. However numbers that mean something can impact the way that we think and act upon certain situations</p>
          </li>
          <li>
            <h4>Backend/API Development</h4>
            <p>Numbers by themselves are boring. However numbers that mean something can impact the way that we think and act upon certain situations</p>
          </li>
          <li>
            <h4>Automation</h4>
            <p>Numbers by themselves are boring. However numbers that mean something can impact the way that we think and act upon certain situations</p>
          </li>
          <li>
            <h4>System Design</h4>
            <p>Numbers by themselves are boring. However numbers that mean something can impact the way that we think and act upon certain situations</p>
          </li>
        </ul>

      <h3 class="listTitle"> Non Tech Based Interests </h3>
        <ul id="nonTechBasedInterests">
          <li>
            <h4>Data Analysis</h4>
            <p>Numbers by themselves are boring. However numbers that mean </p>
          </li>
          <li>
            <h4>Backend/API Development</h4>
            <p>Numbers by themselves are boring. However numbers that mean </p>
          </li>
          <li>
            <h4>Automation</h4>
            <p>Numbers by themselves are boring. However numbers that mean </p>
          </li>
          <li>
            <h4>System Design</h4>
            <p>Numbers by themselves are boring. However numbers that mean </p>
          </li>
        </ul>



</div>



<ul id="skills">
  <h3>Technology Skills</h3>
  <li class="skillList">
    <div>
      <h3> Languages </h3>
      <ol class="list" id="languages">
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
      </ol>
    </div>
  </li>

  <li class="skillList">
    <div>
      <h3> Soft Skills </h3>
      <ol class="list">
        <li>Public Speaking</li>
        <li>Problem Solving</li>
        <li>Team Management</li>
      </ol>
    </div>
  </li>

  <li class="skillList">
    <div >
      <h3> Accomplishments </h3>
      <ol class="list">
        <li>Eagle Scout</li>
        <li>4th in Programming Competition</li>
      </ol>
    </div>
  </li>

</ul>

  <div class="skillList">
    <h3> Experience </h3>
    <ol class="list">
      <li>Data/Photo Analysist at White House Custom Color</li>
      <li>Research Assistant for Dr Saleh Alnaeli</li>
      <li>Mobile Application Development</li>
    </ol>
  </div>

  <app-feed></app-feed>


</div>
