div {
  color: whitesmoke;
  align-content: center;

}

.block{
  color: black;
  padding: 20px;
  margin-top: 30px;

  border-left-style: solid;
  border-left-width: 2px;
  /*border-left-color: #0f4c75;*/
  border-left-color: #f2f2f2;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;

  border-radius: 2%;

  /*background-color: #3f3f3f;*/
  /*background-color: #cacaca;*/

}

.title{
  font-weight: bold;
  font-size: 30px;
  margin-left: 5%;
  font-family: "Arial Rounded MT Bold";
}


#about{
  margin-bottom: 20px;
  display: inline;
}

#aboutTitle{
  text-align: center;
}

#aboutText{
  width: 75%;
  padding: 10px;
  border-left-style: solid;
  border-left-width: 2px;
  /*border-left-color: #0f4c75;*/
  border-left-color: #f2f2f2;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;
  /*background-color: #3f3f3f;*/
  /*background-color: rgb(28, 28, 28);*/
  background-color: #cacaca;
  color: black;
  border-radius: 1%;

}

#about>ul{
  display: inline;
  list-style: none;
}

#about > ul > li{
  float: left;
  padding: 0px;
}

#profilePhoto{
  margin-left: 5px;
  height: 5%;
  width: 5%;

}

.aboutIntro{
  text-indent: initial;
  width: 90%;
  padding-left: 5%;
  line-height: 1.5;
  font-size: large;

}

#techBasedInterests{
  color: black;
  background-color: #cacaca;
  border-left-color: black;

  /*padding: 20px;*/
  list-style: none;
  padding: 20px;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
  display: inline-block;

}

/*#techBasedInterests>techBasedTitle{*/
/*  font-weight: bold;*/
/*  color: white;*/
/*  !*text-align: center;*!*/
/*  font-family: "Arial Rounded MT Bold";*/

/*}*/

#techBasedInterests li{
  background-color: rgb(28, 28, 28);
  color: white;
  list-style: none;
  float: left;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;

  width: 19%;
  min-width: 54px;

  min-height: 250px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: black;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;

}

#techBasedInterests>li>h4{
  font-weight: bold;
  font-size: 17px;
}



#skills{
  color: whitesmoke;
  list-style: none;
  padding: 10px;
  display: inline-block;
  width: 98%;
  background-color: RGB(28, 28, 28);
}

#skills>#skillsTitle{

}

#skills #languages{


}

#skills #languages h3{
  font-weight: bold;
  text-align: center;
  font-size: 200%;
  margin-bottom: 10px;

}

#skills #languages .list .language{
  list-style: none;
  float: left;

  color: whitesmoke;
  text-align: center;

  padding-left: 15px;
  padding-right: 15px;
  /*margin: 11px;*/
  margin: 1%;


  width: 27%;
  min-width: 54px;

  min-height: 220px;

  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: black;

  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #0f4c75;
}

#skills #languages .list .language h4{
  margin-top: 5px;
  font-size: 120%;

}

#skills #languages .list .language li{
  text-align: left;
  font-size: 120%;
  list-style: circle;
  padding-bottom: 4px;
}

#skills #otherCSSkillsTitle{
  border-top: whitesmoke;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 280px;
  padding-top: 10px;
  margin-left: 4%;
  font-size: 120%;
}

#skills #otherCSSkills{
  list-style: none;
  white-space: normal;
}

#skills #otherCSSkills li{
  float: left;
  display: block;
  margin-right: 3%;

}

#skills .skillList h4{
  font-weight: bold;
  font-size: 30px;
  margin-left: 10%;
  color: white;
  /*text-align: center;*/
  font-family: "Arial Rounded MT Bold", sans-serif;
}

#skills .skillList li{
  text-align: left;
  font-size: 150%;
}



#experience {
  /*background-color: rgb(28, 28, 28);*/
  background-color: #cacaca;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #f2f2f2;
  /*border-left-color: transparent;*/
  /*color: #f2f2f2;*/
  color: black;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0f4c75;
  /*border-bottom-color: transparent;*/

}

#experience .list{
  /*margin-left: 10px;*/
  width: 90%;
}

#experience .list li{

}


#FAQ{
  background-color: #cacaca;
}


/*#skills{*/
/*  list-style: none;*/
/*}*/

/*.skillList{*/
/*  clear: both;*/
/*  display: inline-block;*/
/*  float: top;*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/

/*}*/

/*.listTitle{*/
/*  padding: 0px;*/
/*  margin-bottom: 0px;*/
/*  position: center;*/
/*}*/


/*.list{*/
/*  list-style-type: None;*/

/*}*/

