<div id="home">


  <div  id="intro">
	<ul>
	  <li class="block" id = "introText">
		<h1 class="title">About the Human Named Ben Barcaskey</h1>
		  <p class="introPara">
			Understand the rules, the limitations, edges of the box, then break them.
			We are living inside of pandora’s box, we just don’t know how to let it breathe.
			To claim ignorance on what we rely on in life is arrogant in it’s own right.
			While no one may have all the answers today, I believe that everyone should able to know how to change breaks on a car, cook a balanced 3 course meal for guests, and program a simple script.
			Not everyone can look like Jennifer Aniston or Ryan Reynolds even on a good day, but I believe anyone can look presentable and professional.
			Anyone can learn how to edit semi-professional videos, fix a toilet, learn a second language, download more RAM, and install drywall, it just takes effort and patience.
		  </p>

		  <p class="introPara">I, Ben Barcaskey, don’t have to reach to achieve uniqueness; it comes naturally.
		  It takes effort for me to think inside the box. While I do ok in school, that is certainly not the limit, or even the beginning of my education.
		  From being seven years old carrying around books about math and Saturn, to being 16 years old giving speeches on how to understand the different parts of a computer, to being 20 years old spending more time on towardsdatascience.com more than on Facebook, Twitter, and Instagram combined.
		  “I have never let my schooling interfere with my education” – Mark Twain.
		  </p>

		  <p class="introPara">
			I’m also a Junior attending UW-Stout majoring in Computer Science minoring in Math, concentrating in statistics.
			I plan to graduate in May of 2022, however no matter how much you plan, you can only weather the chaos the future, not control it.
			AKA if I'm offered a full time job before graduation, I'll take it into consideration.
		  </p>

	  </li>
	  <li class="rightSideIntro">
		<img id="profilePhoto" src="assets/images/profileCropped.jpg" alt="What did I ever do to make you treat me so disrespectfully">
	  </li>

	  <li class = "rightSideIntro">
		<a id="typeracer" href="https://data.typeracer.com/pit/profile?user=feba23&ref=badge" target="_top">
		  <img src="https://data.typeracer.com/misc/badge?user=feba23" alt="TypeRacer.com scorecard for user feba23"/>
		</a>
	  </li>
	</ul>
  </div>

 <!-- Will add later once Projects and posts are made-->
<!-- <div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h1>Latest Post Update</h1>-->
<!--  </div> -->

  <div  id="techBasedInterests" class="block">
	<h1 class="title"> Technology Based Interests </h1>
	<ul>

	  <li class="">
		<h4>Data Science / Analysis</h4>
		<p>
		  Numbers by themselves are boring.
		  However, numbers that mean something can impact the way that we think and act upon certain situations.
		</p>
	  </li>
	  <li class="">
		<h4>Backend / API Development</h4>
		<p>
		  Numbers by themselves are boring.
		   However numbers that mean something can impact the way that we think and act upon certain situations
		</p>
	  </li>
	  <li class="">
		<h4>Computer Hardware / Small Scale Electronics</h4>
		<p>If one is to study the great mystery of computers, one must study all it's aspects. Although </p>
	  </li>
	  <li class="">
		<h4>System Design / Simulation</h4>
		<p>Numbers by themselves are boring. However numbers that mean something can impact the way that we think and act upon certain situations</p>
	  </li>
	</ul>
  </div>

<!--  <div id="experience" class="block">-->
<!--    <h1 class="title"> Experience </h3>-->
<!--    <ol class="list">-->
<!--      <li>-->
<!--        <h4>Data/Photo Analysist at White House Custom Color</h4>-->
<!--        <p> I took on a month long internship over winter break building building tools, concepts, and resources for automated analysis on professional photos for White House Custom Color. This includes face and label recognition through AWS Rekognition from images stored in S3 Buckets, creating algorithms for automated cropping, color analysis involving color clusters and product color matching, and focus recognition and mapping the focus of an image. At the end of my internship I presented my work to the management of WHCC.-->

<!--          Utilized Python with libraries such as OpenCV, SciPy (NumPy, Pandas, and Matplotlib), Scikit-learn, Keras, and Boto (for AWS connectivity). </p>-->
<!--      </li>-->
<!--      <li>-->
<!--        <h4>Research Assistant for Dr Saleh Alnaeli</h4>-->
<!--        <p> </p>-->
<!--      </li>-->
<!--      <li>-->
<!--        <h4>Mobile Application Development</h4>-->
<!--        <p></p>-->
<!--      </li>-->
<!--    </ol>-->
<!--  </div>-->

  <div id="skills" class="block">
	<h1 class="title">Skills</h1>
	<div class="" id="languages">
		<h3> Top Skills </h3>
		<ol class="list">
		  <li class="language">
			<h4>Python</h4>
			<ul>
			  <li>Pandas</li>
			  <li>NumPy</li>
			  <li>OpenCV</li>
			  <li>MatPlotLib</li>
			  <li>Flask Microframework</li>
			  <li>Scikit-Learn</li>
			</ul>
		  </li>
		  <li class="language">
			<h4>Java</h4>
			<ul>
			  <li>DOM/Stax/Sax XML Parsing</li>
			  <li>JSon Parsing</li>
			  <li>Jooby Microframework</li>
			  <li>Android Development</li>
			  <li>Maven & Gradle</li>
			</ul>
		  </li>
		  <li class="language">
			<h4>Linux</h4>
			<ul>
			  <li>Debian and Arch</li>
			  <li>Apache & Nginx http Server</li>
			  <li>Bash Scripting</li>
			  <li>Background Service Management</li>
			  <li>Raspbian & RaspberryPi Development</li>
			</ul>
		  </li>
		</ol>
	</div>


	<button class="accordion">Other Skills</button>
	<div class="panel">
		<h3 id="otherCSSkillsTitle">Technical Skills </h3>
		<ul class="list" id="otherCSSkills">
		<li>HTML/CSS/Javascript</li>
		<li>Audio Production/Manipulation</li>
		<li>C/C++</li>
		<li>Git</li>
		<li>SQL</li>
		<li>Amazon AWS (EC2, S3 Bucket, Rekognition) </li>
		<li>Swift</li>
		<li>Angular</li>
		<li>TypeScript</li>
		<li>Word</li>
		<li>Excel</li>
		<li>Powerpoint</li>
		</ul>

		<br/>
		<br/>

		<div id="softSkills">
		<h3> Soft Skills </h3>
			<ul class="list">
			<li>Public Speaking</li>
			<li>Problem Solving</li>
			<li>Team Management</li>
			</ul>

		<h3> Accomplishments </h3>
			<ul class="list">
			<li>Troop 449 Eagle Scout since 2018</li>
			<li>4th in at CCMW 2018 Programming Competition</li>
			</ul>

		<h3> Other Skills </h3>
			<ul class="list">
			<li>Eagle Scout</li>
			<li>4th in Programming Competition</li>
			</ul>

	</div>
  </div>

  </div>

  <div id="FAQ" class="block">
	  <h1 class="title">FAQ</h1>
	  <ul id="FAQList">
		<li>
		  <h4 class="question">How tall are you?</h4>
		  <p class="answer"> Technically 6'4.5", but 6 4 just rolls off the tongue better.
			Also, don't lie about your height; Anyone can literally take a tape measure and get an exact objective numerical value of how tall you are.</p>
		</li>
		<li>
		  <h4 class="question">What Software do you use?</h4>
		  <p class="answer">I prefer to do development in linux, preferably Pop-OS with a kde desktop.
			Though I do most of my computer tasks on Windows.
			For programming, I typically like to gravitate towards a jetbrain's ide when I can, however I'm growing used to VSCode.</p>
		</li>
		<li>
		  <h4 class="question">Desktop Specs</h4>
			<ul>
			  <li class="spec">CPU: Ryzen R5 2600 3.9GHz</li>
			  <li class="spec">RAM: 32GB (4 x 8GB) G.Skill DDR4-3200 (Almost died getting that last 16GB)</li>
			  <li class="spec">Motherboard: Asus TUF X470-PLUS AM4 (Used motherboards don't have IO shields though)</li>
			  <li class="spec">GPU: R9 380 4GB Asus Strix (It's like the legs of Mr Incredible holding up Mr Incredible)</li>
			  <li class="spec">Storage: 2 SSDs, one per OS. Plus a 1TB 7200rpm and a 3TB 5400rpm of spinning rust blocks</li>
			  <li class="spec">Case: Corsair Spec-01</li>
			  <li class="spec">PSU: Corsair CXM 650W 80+ Bronze</li>
			  <li class="spec">Monitor: Acer XV272U 27" 2560x1440 144hz IPS Freesync (My Baby)</li>
			  <li class="spec">Mouse: Kingston HyperX Pulsefire Surge (I broke my </li>
			  <li class="spec">Keyboard: Some old dusty Dell PS2 keyboard I found in the basement 4 years ago</li>
			</ul>
		</li>

	  </ul>
  </div>





</div>
