.block {
  width: 100%;

  min-height: 500px;
  height: 550px;
  /* height: auto; */

}

#experienceBlock{
	opacity: 0;
	animation: fadeIn 1s ease 1s forwards;
}

.carousel-item{
}

.companyImage {
  float: left;
  width: 26%;
  display: inline-block;
  padding: 5%;
  padding-bottom: 0%;
}

.companyImage img {
  width: 100%;
}

.credit {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

.content {
  width: 64%;

  clear: both;
  display: inline-block;
}

.title {
  font-weight: bolder;
  font-size: 27px;
  float: top;
  font-family: sans-serif;
  clear: both;
}

.experienceType {
	float: right;
	font-size: 50%;
  }

.mainTitle {
  margin-left: 10px;
  float: top;
  margin-top: 0px;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5px;
  text-align: left;
}



.place {
  font-size: 20px;
}

.date {
  float: right;
  font-size: 80%;
  clear: both;
}

.paragraph {
  text-indent: 4%;
  font-size: 11pt;
}

.expSkillsList {
  text-align: center;
  white-space: normal;
  float: bottom;
}

.expSkillsList li {
  float: left;
  display: block;
  margin-right: 7px;
  font-size: 15px;
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {
    border-left-width: 0px;
	border-right-width: 0px;

	min-height: 100px;
	height: 450px;
  }

  .mainTitle{
	  font-size: 120%;
	  padding: 5px;
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
	  border-bottom-color: whitesmoke;
  }

  .content{
	  width: 80%;
  }

  .content> .title, .experienceType{
	  margin: 0px;
	  padding: 0px;
	  font-size: 12pt;
	  float: none;
  }


  .companyImage{
		visibility: hidden;
		height: 0px;
		width: 0px;
  }

  .description{
	  visibility: hidden;
	  width: 0;
	  height: 0;
  }
}


@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-moz-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-ms-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }