.block {
  width: 100%;

  min-height: 100%;

  padding-bottom: 40px;
  /* height: auto; */
}

#experienceBlock {
  opacity: 0;
  animation: fadeIn 1s ease 1s forwards;
}


.companyImage {
  float: left;
  width: 26%;
  display: inline-block;
  padding: 5%;
  padding-bottom: 0%;
}

.companyImage img {
  width: 100%;
}

.credit {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

.content {
  width: 64%;

  clear: both;
  display: inline-block;
}

.experienceType {
  float: right;
  font-size: 50%;
}

.place {
  font-size: 20px;
}

.date {
  float: right;
  font-size: 80%;
  clear: both;
}

.paragraph {
  text-indent: 4%;
  font-size: 11pt;
}

.expSkillsList {
  text-align: center;
  white-space: normal;
  float: bottom;
}

.expSkillsList li {
  float: left;
  display: block;
  margin-right: 7px;
  font-size: 15px;
}

/* For mobile */
@media only screen and (max-width: 768px) {
  .block {
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .sectionTitle {
    font-size: 120%;
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke;
  }

  .content {
    width: 80%;
  }

  .content > .title,
  .experienceType {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
    float: none;
  }

  .experienceType {
	  float: right;
  }

  .companyImage {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .place {
	  font-size: 100%;
  }

  .description {
    border-top-style: dashed;
    border-top-width: 1px;
	border-top-color: #888888;
	
	margin-top: 5px;
	padding-top: 5px;
    /* visibility: hidden;
    width: 0;
    height: 0; */
  }

  .skillsTitle {
    margin-top: 20px;
    padding-top: 7px;

    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #888888;

    font-size: 120%;
  }

  .expSkillsList > li {
    font-size: 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
