<ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner>

<div class="content">
  <h1 class="mainTitle">Arrested Development Quote Analysis</h1>

  <div class="container-fluid">
    <div class="row">
      <div id="intro" class="block col-md-5">
        <h2 class="sectionTitle">
          About/How to use
          <button
            class="btn btn-xs col-xs-2 mobileButton"
            id="aboutButton"
            data-toggle="collapse"
            href="#introSection"
          >
            V
          </button>
        </h2>
        <div #aboutSection id="introSection">
          <p>
			Her?
          </p>

        </div>
      </div>
      <div id="uploadForm" class="block col-md-7">
        <h2>
          Query
          <button
            class="btn btn-xs col-xs-2 mobileButton"
            id="aboutButton"
            data-toggle="collapse"
            href="#formSection"
          >
            V
          </button> 
        </h2>
        <div #formSection id="formSection">
          <form
            [formGroup]="form"
            (ngSubmit)="onSubmitUpload()"
            class="form-group"
          >
            <div class="container row">
              <div class="col-lg-7">
                <h3 class="textTitle" for="query">Quote:</h3>
                <input
                  id="query"
                  class="textBox form-control-file"
                  type="text"
                  name="query"
                  aria-describedby="repoHelp"
                  placeholder=""
                  (change)="onFileChange($event)"
                />
              </div>
              <div class="col-lg-5">
                <h3 class="textTitle" for="person">Who:</h3>
                <input
                  id="person"
                  class="textBox form-control-file"
                  type="text"
                  name="person"
                  aria-describedby="repoHelp"
                  placeholder=""
                  (change)="onFileChange($event)"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">
              Submit
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!this.graphsToggle">
    <h2>Loading...</h2>
  </div>

  <div *ngIf="this.graphsToggle">
    <div #Summary id="summary" class="container-fluid block">
      <h2 id="summaryTitle" class="sectionTitle">
        Summary of: "{{ this.query }}"
        <button
          class="btn btn-xs col-xs-2 showButton"
          id="summaryButton"
          data-toggle="collapse"
          href="#summaryContent"
        >
          V
        </button>
      </h2>
      <div id="summaryContent">
        <h4 class="subtitle">Said a total:</h4>

        <h2>{{ this.data["Times"] }} times</h2>

        <h4 class="subtitle">Said the most by:</h4>

        <h2>
          "{{ this.data["Mode"]["Character"] }}"
          {{ this.data["Mode"]["CharacterTimes"] }} times
        </h2>

        <h4 class="subtitle">Said most in the episode:</h4>
        <h2>{{ this.data["Mode"]["Mode"] }}</h2>
      </div>
    </div>

    <div #AllTimes class="container-fluid block">
      <h3 class="sectionTitle">
        All Times in Series
        <button
          class="btn btn-xs col-xs-2 showButton"
          id="fullTableButton"
          data-toggle="collapse"
          href="#fullTable"
        >
          V
        </button>
      </h3>

      <div class="table-responsiv">
        <table id="fullTable" class="table">
          <tr>
            <th class="season tableTitle">Episode</th>
            <th class="episodeTitle tableTitle">Episode Title</th>
            <th class="character tableTitle">Character</th>
            <th class="location tableTitle">Location % in Episode</th>
          </tr>
          <tr *ngFor="let query of this.data['Queries']">
            <td class="season">{{ query.season }}:{{ query.episode }}</td>
            <td class="episodeTitle">{{ query.title }}</td>
            <td class="character">{{ query.character }}</td>
            <td class="location">{{ query.location }}%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
