<app-datascience></app-datascience>
<div id="intro" class="block container-fluid">
  <h1 class="maintitle">Data Science Home</h1>

  <div id="mainDescription">
    <h5>Home for all my web based data science projects</h5>
  </div>

  <div id="list" class="row">


	<a [routerLink]="['/TheOffice']" class="pagePreview col-lg-12">
		<h3 class="pageTitle">The Office Quote Analysis</h3>
		<p class="pageDescription">
		  Haven't 
		</p>
	  </a>

    <a [routerLink]="['/facebook']" class="pagePreview col-lg-6">
      <h3 class="pageTitle">Facebook Data Analyzer</h3>
      <p class="pageDescription">
        Web app for analyzing your downloadable Facebook user data
      </p>
	</a>
	
	<a [routerLink]="['/instagram']" class="pagePreview col-lg-6">
		<h3 class="pageTitle">Instagram Data Analyzer</h3>
		<p class="pageDescription">
		  Web app for analyzing your downloadable Facebook user data
		</p>
	  </a>

	


  </div>
</div>
